[2018-07-06 06:41] shinyford opened #60 "Can't compile device_calendar on iOS"
Hi - device_calendar is great on Android, but fails to compile on iOS with the following error:

`/Users/nicford/Applications/flutter/.pub-cache/hosted/pub.dartlang.org/device_calendar-0.0.6/ios/Classes/DeviceCalendarPlugin.m:2:9: 'device_calendar/device_calendar-Swift.h' file not found`

I've trawled Google and found many references to similar problems; but none of which have solved the problem f

[2018-07-08 23:47] MaikuB commented on #60
I assume your app got created with an Objective-C iOS head project? If so, you may need to modify the podfile for your app as per mravn-google's post at https://github.com/flutter/flutter/issues/16049

If this works for you (seems to work for me) then let us know and we'll update the README

[2018-07-18 07:56] isoos opened #61 "device_calendar not building in xcode 9"
_From @blaneyneil on July 6, 2018 1:44_

URL: https://pub.dartlang.org/packages/device_calendar#-example-tab-

just a head's up:

The target “device_calendar” contains source code developed with Swift 2.x. Xcode 9 does not support building or migrating Swift 2.x targets.

_Copied from original issue: dart-lang/pub-dartlang-dart#1435_

[2018-07-18 07:56] isoos commented on #61
@blaneyneil: please file issues to the package's repository. You can check that on the package page, usually the homepage points to it. I'm moving this now.

[2018-07-24 05:59] MaikuB commented on #61
Thanks @isoos

@blaneyneil: are you seeing this when you run the example apps as I haven't seen that show up (running Xcode 9.4). You may need to modify the podfile for your iOS head project. Similar to #60

[2018-07-24 06:09] blaneyneil commented on #61
yep, my bad.  at the time i filed this i had no swift support enabled, and had zero experience with anything other than Obj C plugins.

[2018-07-24 06:14] MaikuB commented on #61
So you were able to sort this out then? Looking to see if we can close this if you have. Going to update the README with info on what's needed for Obj C iOS head projects. From what I've tried and confirmed to work it involves modifying the Podfile so it should look something like

[code]

Not sure if you did the same and haven't gotten a response in #60 where @shinyford mentioned having tried som

[2018-07-25 03:56] blaneyneil commented on #61
well, it was close.  i had it working locally by adding `use_frameworks!` and `config.build_settings['SWIFT_VERSION'] = '4.0'` and was even able to build it, but when archiving on Xcode there were several compilation errors as a result of conflicts with Firestore.

[2018-07-25 21:50] Solido opened #62 "Recurring Event"
Hi

I've started working with your lib and it's working well +1
I'd like to add more advanced feature like recurring events or others specific events.

Is there so methods calls that will be available in coming release or should I manage it all from Flutter ?

Thanks.

[2018-07-25 22:02] nickrandolph commented on #62
@Solido building support for recurring events is definitely on the backlog. However, at this stage we haven't got a timeframe for implementing it.
Definitely happy to take contributions if you want to submit a PR

[2018-07-25 22:06] MaikuB commented on #61
What compilation errors are you seeing?

[2018-07-25 23:13] Solido opened #63 "Create Event with specific ID"
Current implementation assume that a provided ID is for update but
I'd like to manage events by forging it. Is it possible ?
These would help a lot manage complex operations.
Thank you.

[2018-07-25 23:39] nickrandolph commented on #62
The Dart API that's exposed to developers should reflect as much consistency across all platforms as possible.

If there are features that some platforms expose but not all, the plugin should expose a property indicating whether a feature is supported. The feature should be exposed in a way that makes it possible to add other platform support later (eg no exposing Android or iOS specific class/pac

[2018-07-25 23:42] MaikuB commented on #63
It's not possible as the ID is generated by native APIs upon event creation, particularly on iOS.

[2018-07-25 23:45] nickrandolph commented on #63
@Solido can you elaborate on your scenario please?

[2018-07-25 23:50] Solido commented on #63
2 cases

First I was thinking than in IOS recurring event are managed like this that's why you can ask for the first even of the same id. Thus I can easily manage them. Can you confirm or infirm this ?

Second I can forge id like PROJECTID-ANYDIGIT then it's easy to bind event to other entities in my project.

[2018-07-25 23:53] Solido commented on #62
My point is how to get this available to the users by ANY means ;)
Few chance that the lib get adopted if it can't let you access to advanced methods but how to get it implemented is not an easy task !

[2018-07-26 00:07] Solido commented on #62
Not sure if it helps but you could also have a look at RN
https://github.com/wmcmahan/react-native-calendar-events

[2018-07-26 22:29] Solido commented on #63
Guess this won't be possible so I close.
Thanks guys !

[2018-07-26 22:29] #63 closed

[2018-07-26 22:57] nickrandolph commented on #62
@Solido I'm not sure what your comment about adoption means. If developers want more advanced functionality, they are more than welcome to fork this repo and build out their own features.
Thanks for the links to RN - we can use some of that as the basis for how we build out recurring events but it'd be great to get someone from the community to assist.

[2018-07-26 23:55] MaikuB commented on #60
Closing due to a lack of response. If this is still an issue then feel free to reopen this

[2018-07-26 23:55] #60 closed

[2018-07-31 10:53] Solido commented on #62
Let me know how I can help

[2018-09-11 14:08] gunhansancar commented on #61
Any update on this one? It should be fairly simple to update to Swift version for a small library I guess.

[2018-09-11 20:33] MaikuB commented on #61
If it's the swift version issue you're seeing then that's actually something you need to change in your iOS project's Podfile as mentioned above and here https://github.com/builttoroam/flutter_plugins/issues/61#issuecomment-407293239

Haven't heard back @blaneyneil about the Firestore issue but there was originally an issue that I saw logged on the main Flutter repo where another developer had pro

[2018-09-28 00:36] byronferguson opened #64 "No implementation found for method"
Exception given when trying to run just the example in a clean `flutter create` project. It appears both are implemented, so I am confused by the message.

[code]

[2018-10-22 20:25] AGoodnight opened #66 "Having trouble with Location"
Not sure whats going on, but I can't seem to make an event in the Google Calendar with the location filled out. Everything else is fine though.

Android version is 6.0.1
Google Calendar version is 6.0.4

[code]

Any ideas what could be wrong?

[2018-10-24 21:26] #66 closed, assigned to nobody

[2018-10-24 21:30] MaikuB commented on #66
It's also possible for you to fork the repository and then submit a pull request here

[2018-10-24 21:31] AGoodnight commented on #66
cool, I will do that!

[2018-11-07 17:00] zemanux opened #67 "Cannot compile device_calendar on Android with last version 0.10.2 of flutter"
Hi,

I cannot run my program with Flutter v0.10.2. I get :

[code]

[code]

Thanks for your help

[2018-11-09 07:32] mabinici opened #68 "Kotlin Gradle plugin version 1.2.51 and higher"
FAILURE: Build failed with an exception.

* What went wrong:
The Android Gradle plugin supports only Kotlin Gradle plugin version 1.2.51 and higher. Project 'device_calendar' is using version
1.1.51.

[2018-11-12 04:08] linuxeasy commented on #67
Exactly same issue here :(

[2018-11-12 16:52] linuxeasy commented on #67
Figured it out. Following fixes the issue.

Replacing things in the said files in following way solves the issue:
for cases where error is:
`Type mismatch: inferred type is String? but String was expected`

Changing `String` references to `?:""`, which just means if variable is `null` then return `"" (blank)`
From:
`_calendarDelegate.retrieveEvents(calendarId, startDate, endDate, eventIds, result)

[2018-11-16 01:17] mabinici commented on #68
The package is still 0.0.6. Is it going to be updated with this issue resolved?

[2018-11-16 03:33] MaikuB commented on #67
PR #69 by @huzhiren should fix this issue. Closing this issue. Feel free to re-open if this is still an issue

[2018-11-16 03:33] #67 closed

[2018-11-16 03:34] MaikuB commented on #68
PR #69 by @huzhiren should fix this issue. Closing this issue. Feel free to re-open if this is still an issue

[2018-11-16 03:34] #68 closed

[2018-12-06 12:33] KarimMohamed2005 opened #71 "How Can I Solve this"
The user has not allowed this application to modify their calendar.
I added the two lines in Android Manifest

[2018-12-06 13:10] KarimMohamed2005 commented on #71
Solved

[2018-12-06 13:10] #71 closed

[2018-12-13 05:44] gthirumurugan commented on #62
@MaikuB

I am using your library for one of my Application - it is working great and thank you.

@Solido @MaikuB

BTW, i also need the reminder functionality and wondering if any work has gone into it. If not, I am planning to start working on it but thought of checking in first to avoid duplicate effort.

Thank you again and please do let me know your comments!

[2018-12-14 05:07] MaikuB commented on #62
@gthirumurugan we haven't done any work on this so you are welcome to submit a PR as mentioned above

[2018-12-14 07:03] gthirumurugan commented on #62
@MaikuB

Thank you for responding - I'll submit a PR once I am finished with the enhancements. For now, I am planning to go by the RN design as @Solido has pointed out.

[2019-01-04 22:47] bvedam opened #72 "IllegalStateException: Reply already submitted" error"
Hi - I have an app, where I retrieve events for a given date. It works for all days except the current date. You can see in the below logs, it works for Jan 5 and Jan 3, but for Jan 4 I get the **"IllegalStateException: Reply already submitted"** error.  I tried messing with the dates, and it appears like the issue occurs when the date overlaps with current date, and retrieveEvents is called. Coul

[2019-01-05 03:42] bvedam commented on #72
Resolved the issue. It was a data problem. I had created an event with no title for test purpose that was causing this exception. I did look at the "title must not be null" error but the IllegalStateException took me in a different direction. Closing the issue

[2019-01-05 17:04] bvedam commented on #72
Though the root cause for the failure is data, I still think the call should succeed containing the event item with null title, rather than totally failing. Agree?

[2019-01-05 22:53] bvedam opened #73 "Enhancement - organizer info to CalendarEvent"
Providing organizer (email) info along with title, description, attendees, etc in Calendar retrieveEvents would be very useful as action like sending an email to organizer may be required by apps. Hope this could be added. Thx

[2019-01-14 01:58] kadaha opened #74 "New Pixel without device calendar"
Hi,
The issue is more android related:
The plugin works very well on a device that has a built in calendar and usually that calendar is sync with email calendars of the user, but i can't make it work with a google pixel 2 because my guess is there is no built in calendar, i was wondering how would it be possible to make it work with a phone that has only google calendar and if it was possible or a

[2019-01-14 15:22] GlennHendriksen opened #75 "Adding attendees when creating an event"
Hello there,

I have a problem with attendees. I'm creating calendar events for a flutter app I'm building. The user can select a person that he wants to schedule a meeting with, the app creates an event in the users calendar. Now I'm at the point that I want to add the selected person as an attendee so that the calendar event will be send to this person, and the selected person can accept/deny th

[2019-01-25 03:17] AmandaMML opened #76 "Example given shows blank when run"
I copied the example and try testing on it. It only gives me blank white screen. I've allow permission to access to calendar.

[2019-01-25 05:31] AmandaMML commented on #76
Solved

[2019-01-25 05:31] #76 closed

[2019-02-22 20:26] trompetin17 opened #79 "Request Permission problem"
Hi, when you have more that one plugin that uses onRequestPermissionsResult the other plugins was unable to receive this result because you are turning true here:

https://github.com/builttoroam/flutter_plugins/blob/addcd289a1a909892ab6408e3866dc4528020dcd/device_calendar/android/src/main/kotlin/com/builttoroam/devicecalendar/CalendarDelegate.kt#L93

Reading the source code you must return true on

[2019-02-26 18:50] MichaelPriebe commented on #74
I was wondering why this plugin was doing absolutely nothing. Its because my emulator is a pixel with Google Calendar.

[2019-02-26 19:20] MaikuB commented on #74
I use this on a Google Pixel 2 XL and the built in calendar is Google calendar. If you're running this on an emulator then you'll need to ensure you have run the calendar app and signed in beforehand

[2019-02-26 23:17] samcromer17 opened #82 "Limit permission question for access to calendar"
Is there a way to limit the access question to only once per user, possibly store it in a database and check it or does the plugin require it be asked everytime you access it?

[2019-02-28 11:50] MaikuB commented on #79
Thanks for the info, will take a look at addressing this

[2019-04-08 09:29] thanhhuan1990 commented on #60
I got this issue in ver.0.1.1:

/Users/apple/Development/flutter/.pub-cache/hosted/pub.dartlang.org/device_calendar-0.1.1/ios/Classes/DeviceCalendarPlugin.m:2:9: 'device_calendar/device_calendar-Swift.h' file not found

Thanks

[2019-04-09 03:46] thanhhuan1990 commented on #60
Its worked now, this helped me.
target 'Runner' do
  use_frameworks! # <--- add this
  ...
end

post_install do |installer|
  installer.pods_project.targets.each do |target|
    target.build_configurations.each do |config|
      config.build_settings['ENABLE_BITCODE'] = 'NO'
      config.build_settings['SWIFT_VERSION'] = '4.0' # <--- add this
    end
  end
end

[2019-04-25 20:59] AdrianJCo opened #86 "SWIFT_VERSION attribute set"
`device_calendar` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.

[2019-04-25 21:42] MaikuB commented on #86
You'll likely need to do what's mentioned [here](https://github.com/builttoroam/flutter_plugins/issues/61#issuecomment-407293239) in your app. Can you let us know if that works? Hoping to get more confirmation from others that it also works for them to add this step to the readme

[2019-04-25 22:32] AdrianJCo commented on #86
Hi Michael,

Sorry this did not work, I even deleted my existing project and started a new project but still seeing the same error.

I am using Xcode 10.1.

Best regards,
Adrian

[2019-05-01 23:33] MaikuB commented on #86
are you able to provide a sample to reproduce the problem?

[2019-05-03 10:34] l-k22 commented on #60
I can't use "use_frameworks!" because it conflicts with the onesignal notification package. Is there away to exclude this function on certain packages?

[2019-05-13 20:02] gerryhigh commented on #79
This is still broken. It is blindly returning true for a permission and return true at line 84 even it the permission (e.g. FINE LOCATION) is not what is being requested. Minimally check the permission type as well (not just the request code). This is a show stopper and was breaking the location plugin.

[2019-05-14 20:34] MaikuB commented on #79
@gerryhigh any chance you could submit a PR as it seems like you have a fork for this already?

[2019-05-15 11:21] uzairamer commented on #79
Someone needs to fix this ASAP, it has affected the location plugin.

[2019-05-15 11:50] nickrandolph commented on #79
@uzairamer feel free to contribute a fix as this is an open source plugin....

[2019-05-15 12:36] gerryhigh commented on #79
I just submitted a PR. My fix was to return false to the check prior to the one mentioned in this fix for issue #79.

https://docs.flutter.io/javadoc/io/flutter/plugin/common/PluginRegistry.RequestPermissionsResultListener.html

My fork is here: https://github.com/gerryhigh/flutter_plugins

[2019-05-15 16:58] pedromassango commented on #79
Thanks for it. We need to get it solved. Anything that I can do to help?

[2019-05-15 20:31] MaikuB commented on #79
@pedromassango if update your dependencies to point to @gerryhigh's fork then you should be able to test to see if it solves the issue for you

[2019-05-16 11:52] duzenko commented on #86
I just encountered this on a new project. This is a blocking issue for me.

[test_calendar_plugin.zip](https://github.com/builttoroam/flutter_plugins/files/3186920/test_calendar_plugin.zip)

F5 in VSCode does nothing. Terminal -> flutter run outputs the following

[code]

[2019-05-16 11:57] MaikuB commented on #86
See https://github.com/flutter/flutter/issues/16049#issuecomment-477976754. You may need to look at downgrading Cocoapods to 1.5.0

[2019-05-16 12:01] MaikuB commented on #86
Also an alternative solution that may you need to consider recreating your app but make it so that the iOS side is created as a Swift iOS project

[2019-05-16 13:30] duzenko commented on #86
A different error

[code]

[2019-05-16 14:18] MaikuB commented on #86
@duzenko not sure what you actually tried but from taking another look at the project you've zipped, i've noticed that a couple of things

- no changes were made to the Podfile to address the swift version issue (see the link provided in the second post in this thread)
-  there are files missing in your project that prevent the app from being able to run even if the dependency on the calendar plug

[2019-05-16 14:22] duzenko commented on #86
Right, the folder test_calendar_plugin/ios/Flutter is about 100MB in size. Github won't allow attaching files that big.
How do I provide full repro cases when it comes to flutter projects?

[2019-05-16 15:07] MaikuB commented on #86
You could create a repository on Github and post the link. Based on the size, it sounds like you were trying to zip the entire folder that would've included build artifacts etc generated on your machine. The `flutter clean` command could clean some of that up though uploading to repo with the .gitignore file included in your project would also ensure they're not uploaded to your repository

[2019-05-16 15:08] MaikuB commented on #79
Have merged @gerryhigh's PR in and that's in the 0.1.2 release

[2019-05-16 19:24] pneves001 opened #90 "Build error with the plgin"
/flutter/.pub-cache/hosted/pub.dartlang.org/device_calendar-0.1.2/ios/Classes/D
    eviceCalendarPlugin.m:2:9: fatal error: 'device_calendar/device_calendar-Swift.h' file not found
    #import <device_calendar/device_calendar-Swift.h>

[2019-05-16 19:25] pneves001 commented on #90
I didn't even add any code yet. That was me just including the plugin into the project.

[2019-05-16 22:18] nickrandolph commented on #86
Alternatively if you fork this repository you can just add your example and commit the code. Then submit a PR for us to review (we clearly won't merge the PR but it provides a good mechanism for us to see what's going on with your project).

[2019-05-17 06:12] MaikuB commented on #90
There's a general issue with Flutter consuming plugins developed in Swift within an Objective-C iOS project, which I assume is the scenario here as well. A link has been added to the readme with a link to the issue being tracked by the Flutter team. You may need to consider converting the iOS side of your project into Swift

[2019-05-18 10:43] pneves001 commented on #90
Well, I definitely have Objective C Plugins that are working in my project but the work I do is primarily in dart.

[2019-05-18 11:07] MaikuB commented on #90
From what I recall, Objective-C plugins should work fine within a Swift project. It's more of an issue when it's the other way around. The plugins and your project don't necessarily need to be the same language

[2019-05-20 09:28] MaikuB commented on #86
@duzenko thanks for letting us know. A note was added in the readme in a recent release

[2019-05-23 14:55] duzenko opened #94 "EKCADErrorDomain 1014"
Getting this exception every time on iPhone 4S with this code
`      final existingEventsRes = await deviceCalendar.retrieveEvents(calendar.id, filter);`
deviceCalendar is regular (non-readonly)

`Error getting shared calendar invitations for entity types 3 from daemon: Error Domain=EKCADErrorDomain Code=1014 "(null)"`

Quick search in the internet hints a bug in iOS with a workaround described [h

[2019-05-23 15:20] nickrandolph commented on #94
Thanks @duzenko for reporting this. Would you be able to create a PR with the change proposed in the link you mentioned?

[2019-05-24 08:26] duzenko commented on #94
I'm new to dart and flutter. PR'ing plugins is something I yet need to learn.
Moreover, this code runs just fine on a 6S so it might be an iOS9-specific issue.
I'm thinking something like (SwiftDeviceCalendarPlugin.swift/retrieveEvents)
if iOS10up
 let ekCalendar = self.eventStore.calendar(withIdentifier: calendarId)
else
 let ekCalendar = self.eventStore.calendars.firstwhere(Id == calendarId)
Doe

[2019-05-28 10:37] MaikuB commented on #86
Closing this as we have left a note in the README about consuming Swift plugins for other devs to refer to

[2019-05-28 10:37] #86 closed

[2019-05-28 10:39] #79 closed

[2019-05-28 10:42] MaikuB commented on #64
Apologies for the late response, did you manage to get this resolved? Have heard accounts that some devs have had to run `flutter clean` on other plugins as there may have been a caching issue on their environment

[2019-05-28 10:43] MaikuB commented on #61
Closing since there hasn't been any further response. Feel free to re-open or create another issue if you still experience problems

[2019-05-28 10:43] #61 closed

[2019-05-31 16:38] premtemp1 opened #97 "How do I use this plugin"
Is it possible to get some example on how to use this plugin. I would like send a calendar event to users and I am not sure how to do that with this plugin.

Thank you

[2019-05-31 16:39] #97 closed

[2019-06-03 11:34] MaikuB commented on #94
Plugins make use of platform channels so I'd suggest having a read about them [here](https://flutter.dev/docs/development/platform-integration/platform-channels). You would need open the Android/iOS side of the example apps (not the plugin( in the appropriate IDE to debug the Android/iOS code for the plugin

[2019-06-04 14:43] duzenko commented on #94
Thanks
I tried building the example app but first it gave architecture error (ARM64 vs standard) and then this
![image](https://user-images.githubusercontent.com/1481807/58888588-4c300800-86f0-11e9-8048-9d0b8f064e6d.png)

[2019-06-04 15:23] duzenko commented on #94
Uh-oh
Looks like a bad type cast
https://stackoverflow.com/a/45094091/505984

[2019-07-01 08:02] thanhhuan1990 opened #99 "Flutter build api --release issue"
I have been gotten issue with retrieveCalendars when build release.

If I build project by code, device_calendar work well. But if I build release apk and then install by generated apk. this method cannot retrieveCalendars on device.

Please help me about this.

Thanks

[2019-07-05 03:40] MaikuB commented on #64
Closing due to no response

[2019-07-05 03:40] #64 closed

[2019-07-05 03:41] MaikuB commented on #72
Agreed, could you consider submitting a PR?

[2019-07-05 03:45] MaikuB commented on #74
Are you able to provide steps to reproduce the scenario?

[2019-07-05 03:46] MaikuB commented on #75
We could potentially look at this in the future. Feel free to submit a PR

[2019-07-05 03:49] MaikuB commented on #82
This is up to consumer of plugin. There are existing methods to query the permissions status and request permissions

[2019-07-05 03:49] #82 closed

[2019-07-05 03:49] #90 closed

[2019-07-05 03:51] MaikuB commented on #99
We suspect this is related to the use of Proguard and we'll investigate

[2019-07-05 13:48] thanhhuan1990 commented on #99
Thank for your response. I found problem myself but forgot update issue, it's really problem when release with Proguard, sorry for wasting your time.

[2019-07-06 20:54] MooNag opened #101 "Plugin does not work headless (fix included)"
Hi,

This plugin has issues when launching in headless mode using [background_fetch](https://github.com/transistorsoft/flutter_background_fetch/) plugin.

Here is the [fix](https://github.com/transistorsoft/flutter_background_fetch/issues/12) for the issue

Relevant error logs:
`07-04 14:56:31.110 10430 10430 E AndroidRuntime: FATAL EXCEPTION: main
07-04 14:56:31.110 10430 10430 E AndroidRuntime:

[2019-07-24 16:13] gerryhigh opened #104 "Build issue on Android with distributionUrl set to gradle-4.4-all.zip"
I'm on master and updated Flutter to the latest release today and name am getting this error in building:

] * What went wrong:
[        ] [        ] A problem occurred evaluating root project 'device_calendar'.
[        ] [        ] > Failed to apply plugin [id 'com.android.library']
[        ] [        ]    > Minimum supported Gradle version is 4.10.1. Current version is 4.4. If using the gradle

[2019-07-26 17:26] lgArlequin opened #105 "Calendar event reminder"
Hi, nice plugin!, is there any way to set a reminder when creating the event?
Thanks!

[2019-07-30 00:48] MaikuB commented on #104
Thanks raising this. Updated it as part of PR #102 that will be released soon

[2019-07-30 05:43] MaikuB commented on #104
Published a new version so this issue should be resolved. Note though that we build against the stable channel of Flutter

[2019-07-30 05:43] #104 closed

[2019-07-30 06:02] MaikuB commented on #101
Are you able to add a git dependency (see documentation [here](https://dart.dev/tools/pub/dependencies#git-packages)) that would point to the 101 branch to see if it solves the problem?

[2019-07-31 22:26] MooNag commented on #101
I added the branch as a dependency and it solved the problem for me. I did find another issue which I will open a separate ticket for as it is unrelated. Thanks!

[2019-07-31 22:26] #101 closed

[2019-08-04 13:05] nickrandolph commented on #62
@Solido for now there is a basic implementation of recurring appointments. We'll open up issues for extending the implementation shortly

[2019-08-04 13:05] #62 closed

[2019-08-04 13:09] nickrandolph commented on #105
@lgArlequin not currently - would love your input if you want to submit a PR....

[2019-08-04 13:10] nickrandolph commented on #99
@thanhhuan1990 can you elaborate more on what the issue is/way - if would help others if we can document what the issue was

[2019-08-04 13:12] nickrandolph commented on #94
Closing this issue as #98 addresses this issue

[2019-08-04 13:12] #94 closed

[2019-08-05 04:23] MaikuB opened #107 "Edit individual instances of recurring event"

[2019-08-05 04:23] MaikuB opened #108 "Delete individual instance of a recurring event"

[2019-08-05 04:23] MaikuB opened #109 "Support for more advanced recurrence rules"

[2019-08-05 12:16] britannio commented on #99
I had the same issue due to Proguard. I fixed it by adding the following line to my Proguard file.
`-keep class com.builttoroam.devicecalendar.**  { *; }`

[2019-08-05 17:48] britannio commented on #99
Might be worth adding it to the readme.

[2019-08-05 20:45] MaikuB commented on #99
Thanks @britannio, we planned to do so

[2019-08-06 02:52] trap0f opened #111 "The number of events that can be obtained on Android and iOS is different."
Thanks for the useful plug-in.
I have the following problems.
There are two events on the same day of the same calendar.
Executes retrieveEvents.
The number of events that can be obtained on Android and iOS is different.

*device _ calendar: ^ 0.2 .1 + 1
Android: 2 events
iOS: 1 event

*device _ calendar: ^ 0.1 .3
Android: 2 events
iOS: 2 events

Are there any measures?

[2019-08-06 04:11] MaikuB commented on #111
Please elaborate on what you mean by measures. We haven't any differences in the code between the versions you've tried that would affect the number of events retrieved. We've also tried adding an outlook.com account to both an Android and iOS device that had two events in the calendar. Upon running the example app, it showed that there were two events on both devices so from what we can see, it i

[2019-08-06 12:38] finpro-svn commented on #105
I also think that the plugin should be improved so that it is possible to add reminder with the event.

[2019-08-06 13:01] trap0f commented on #111
Thank you for checking.
The situation has now improved.

My situation was as follows.

•App
 device_calendar 0.2.1+1
 flutter_plugins/device_calendar/example/

•Calendar
 Google Calendar
 (iOS: Settings > Passwords & Accounts > Add Account > Google)

•Event (All day: No)
 8/6/2019 1:30 PM - 2:00 PM event1
 8/6/2019 3:30 PM - 5:30 PM event2

•Emulator / Simulator
 Android: Pixel 3 XL API 28 Android

[2019-08-06 14:17] trap0f commented on #111
It's a guess.
EventKit may not have updated the synchronization.
Is there the following processing?

refreshSourcesIfNecessary ()
https://developer.apple.com/documentation/eventkit/ekeventstore/1507421-refreshsourcesifnecessary

[2019-08-06 21:18] nickrandolph commented on #105
We've added this to the backlog for next version (see project boards) Happy to accept PRs from anyone who wants this feature built before then

[2019-08-13 05:51] MaikuB commented on #111
may well be, since you seem to have more luck with reproducing the issue, would you be able to debug and see if that solves it and submit a PR?

[2019-08-13 14:58] kraxarn opened #113 ""New events must specify a calendar id""
Trying to add events to a calendar (with calendar id specified) but it doesn't work.
Code:
[code]

[2019-08-14 07:37] MaikuB commented on #113
looks like you're trying to add a new calendar which isn't supported. events can only be added to an existing calendar

[2019-08-14 10:38] kraxarn commented on #113
Then I guess this is both a feature request for it to be added and a bug report because it lets me add a calendar and for the incorrect error message (should probably say something like "calendar not found").

[2019-08-16 03:12] trap0f commented on #111
I would like to do so if I could reproduce the event.
But I don't know when I can reproduce it.
At the same time, would you consider adopting 'refreshSourcesIfNecessary()'?

[2019-08-19 04:20] MaikuB commented on #113
Being able to add to the list of calendars returned will be addressed in #112. However, with regards to adding calendars, from what I've seen I don't think this is possible. Particularly with creating calendars that are synchronised with servers on Android. If you find a way to do so then we'd be happy to take a PR

[2019-08-20 00:41] MaikuB commented on #74
Closing this due to lack of further response. Feel free to re-open if you're able to provide more details

[2019-08-20 00:41] #74 closed

[2019-08-20 02:51] MaikuB commented on #111
Yes but would need to be able validate it works by reproducing the appropriates scenarios. As you say, right now it's only a guess and there could be other factors at play

[2019-08-20 03:33] MaikuB commented on #111
Just a note here that I've tried adding an event through an outlook.com account, called `retrieveEvents` and the new event was part of the result even without adding `refreshSourcesIfNecessary` in the iOS code. Wonder if perhaps you're calling `retrieveEvents` as part of `initState` method of the stateful widget that represents a page in your application. If that's the case, note that `initState`

[2019-08-20 03:52] MaikuB commented on #75
Just a follow-up on this, it's not possible to add attendees, at least not on iOS. See [here](https://developer.apple.com/documentation/eventkit/ekcalendaritem/1507140-attendees) for documentation about this

[2019-08-20 16:49] rsk-pr opened #114 "Returning NULL on released version"
I implemented the device_callendar 0.2.2 and everything works great on debug but when I release the app on android, the device asks for the permission to access the calendar just fine but the list of calendars come back null. The amount of calendars retrieved from the release version come back the same as in debug but the .id and the .name come back null for each calendar. On iOS released version

[2019-08-20 20:08] rsk-pr commented on #114
I seems the problem is proguard. Once I enable it, the device_calendar returns null.

[2019-08-20 21:02] rsk-pr commented on #114
-keep class com.builttoroam.devicecalendar.** { *; }

[2019-08-20 22:27] nickrandolph commented on #114
@MaikuB did we add info somewhere on the use of proguard - can we elevate it to the Readme so it's easy for developers to find
I'm reopening this item just so we can track the update to the docs

[2019-08-20 22:29] MaikuB commented on #114
Yes another issue was raised on this and the change is currently in #112

[2019-08-20 22:34] nickrandolph commented on #114
Closing this item as it's addressed in linked PR

[2019-08-20 22:34] #114 closed

[2019-08-21 15:16] thanhhuan1990 commented on #75
Actually, now I can create an event with attendees by two step:

1. Create event by code from this package.
2. Insert or edit attendees for iOS and android by my native code.
Android: ContentResolver + CalendarContract.
iOS: EKParticipant + ekEvent!.setValue(attendees, forKey: "attendees")

Thanks for your response.

[2019-08-21 20:30] MaikuB commented on #75
Thanks for the info, we know it can be done in Android and did recently come across that way you mentioned for iOS

[2019-08-23 02:31] MaikuB commented on #75
@thanhhuan1990 what versions of iOS did you run the code on? there have been accounts of this approach not working in the past, which is a concern https://stackoverflow.com/questions/30627694/modifying-ekparticipants-attendees-in-eventkit-like-sunrise

[2019-08-23 13:08] thanhhuan1990 commented on #75
I'm not sure for all iOS version, but I released my application on Testflight for my team member (near 30 members), they use iPhone from 5s ~ X, and no problem happen with them until now.
If you found any issue about this, please let me know, thanks.

[2019-08-28 02:37] #99 closed

[2019-08-28 02:39] MaikuB commented on #113
Bug has been fixed now. Will close this and add an issue on the board around being able to add calendars. PRs are welcome

[2019-08-28 02:39] #113 closed

[2019-08-28 02:39] MaikuB commented on #72
This should be resolved in the latest release

[2019-08-28 02:39] #72 closed

[2019-08-28 02:40] MaikuB commented on #73
This should be added now. If you feel there's something missing, feel free to open an issue and looking into submitting a PR

[2019-08-28 02:40] #73 closed

[2019-08-28 02:40] MaikuB commented on #75
This should be in the latest release

[2019-08-28 02:40] #75 closed

[2019-08-28 02:41] MaikuB commented on #105
The ability to set multiple reminders based on time relative to the start of the event has been added. Will close this now

[2019-08-28 02:41] #105 closed

[2019-08-28 02:42] #109 closed

[2019-08-28 02:43] MaikuB opened #115 "Ability to add calendars"

[2019-08-28 14:50] kraxarn commented on #113
After checking the Android documentation, I found that in order to actually create a calendar, you have to do it from a sync adapter, which involves having to set up a device account, background service etc. The same goes for adding locations to an event I believe. I don't know about iOS.

[2019-09-06 14:30] santiagoalmeidabolannos opened #119 "Any documentation please"
Please can you add some examples? I am interested on add reminders in the calendar. Thanks

[2019-10-12 19:38] davidBarbieri opened #120 "Android not coming back from _deviceCalendarPlugin.requestPermissions()"
Hi, thanks for this awesome plugin!

I'm having a little permissions problem with Android.
When i open for the first time, the page that hosts the calendar, i'm prompted to allow access to the calendar, when i click accept tho, the app doesn't continue the execution, looks like the Future from the method channel is never returning anything at it just hangs there.
The permission is correctly set th

[2019-10-12 22:22] nickrandolph commented on #120
Hi David,
Can I ask you to run up the example app that's in the source code and confirm that you see similar behaviour there? If you have to modify the source code to reproduce the behaviour, please submit that as a WIP PR so that we can easily reproduce the issue.
Thanks

[2019-10-13 10:39] davidBarbieri commented on #120
Hi Nick, thanks for the answer!

After some troubleshooting i remembered i had written a custom handler for permissions management in MainActivity.java, which is catching all permissions requests:

[code]

The here is where the flow gets stuck, as the first IF is false and the return value is null, this used only for the file sharing part of the app... and it was kind of a prototype.
I took a look

[2019-10-13 14:33] davidBarbieri commented on #120
Refactoring done, now everything works perfectly.

Cheers

[2019-10-13 14:33] #120 closed

[2019-10-16 19:36] jeffscaturro-aka opened #121 "Cannot create a new event when passing in an `eventId`."
What
---
When trying to create a new event (`createOrUpdateEvent`) and specifying an `eventId`, I'm receiving the following error:
[code]

Environment
---
Testing on a physical iPhone X running 13.2 and an iOS Simulator (iPhone 11 Pro Max - 13.0).

I could not reproduce this issue on Android.

Steps to Reproduce
---
Try to create a new event on iOS and specify an `eventId`.

Miscellaneous
---
I am

[2019-10-16 19:39] jeffscaturro-aka opened #122 "Creating an event with an `eventId` being a String of just numbers."
What
---
It appears that when creating an event and trying to add it to the calendar with an `eventId` of just numbers (i.e. `'93861039'`) fails to actually add the event to the calendar.

Environment
---
Testing on a physical Pixel 3, running **Android** 10. Selecting a calendar from Google Calendars.

I could not reproduce this on iOS due to a different issue (#121). This might be related to tha

[2019-10-17 06:34] elyctom opened #123 "Calendar ID is not a number for DeleteEvent"
Whenever I execute **deviceCalendarPlugin.deleteEvent**, I get the following error

The code I execute is below.

[code]

[2019-10-17 12:04] nickrandolph commented on #123
Can you try following the example where it retrieves the calendar and uses the id of the calendar in the deleteEvent method?

[2019-10-17 12:28] elyctom commented on #123
@nickrandolph that's exactly what I did. The '4' as the calendar ID in my example was just for brevity.

Actually, when I execute the code to retrieve the calendar ID, that's the ID I get. The ID works to create the event just fine, but fails to delete it with that error.

[2019-10-17 12:46] nickrandolph commented on #123
@elyctom which platform is this on? can you try the other platform (eg if you've been working on iOS can you check to see if the issue is there on Android, and vice versa)

[2019-10-17 14:59] jmsandamil opened #124 "add to table_calendar package"
hello

is posible to add this events to a flutter app calendar, like table_calendar?

[2019-10-17 15:51] elyctom commented on #123
@nickrandolph, this is happening on Android. I'm having some pod install issues on iOS now, so as soon as I get that build working I'll confirm the iOS behavior.

[2019-10-17 20:20] nickrandolph commented on #124
yes, you can add events to the table_calendar but you need to retrieve them from the device calendar first before adding them to the calendar widget.

[2019-10-17 20:20] #124 closed

[2019-10-17 20:24] jmsandamil commented on #124
sorry I am very noob, how I can do this?

[2019-10-17 20:39] jmsandamil commented on #124
yes but I don't know how to add to the table calendar after create event, I can add your events to phone but not to table calendar example, I can't get it,

sorry for being so heavy, I appreciate the help

[2019-10-24 09:54] parth22 commented on #123
i got this error
[code]
any idea how to solve this?

[2019-10-24 18:03] Rahul1703 commented on #121
eventid is a read-only property when you will add into the calendar you will receive eventid.

[2019-10-31 19:19] CoreyCole opened #125 "updating an event info does not propagate to retrieveEvents() until app restart"
Repro:
- create an event in device's calendar
- build a flutter app using `device_calendar: 1.0.0+2`
- retrieve the calendar information
[code]
- see the event I created with the `start` time at the date I created it with
- go into device calendar, change the date to a different day
- `flutter clean` & `flutter run -d all`
- retrieve the calendar information again, see the `start` time for the eve

[2019-10-31 20:07] nickrandolph commented on #125
Hi @CoreyCole , have you confirmed that the calendar date has changed in other apps that access the calendar. Also if you change the event date in Flutter does it reflect in the device calendar?

[2019-10-31 20:17] CoreyCole commented on #125
@nickrandolph do you have a suggestion for an app I can download on android to see? I'll check now to see if I can change the date using the plugin

[2019-10-31 20:51] CoreyCole commented on #125
It seems like it is working now. As soon as I update an event time in Google calendar, it is instantly reflected in my flutter app using `device_calendar` plugin. I'll close for now, but keep a close eye to see if I can reliable reproduce it.

[2019-10-31 20:59] nickrandolph commented on #125
Thanks @CoreyCole

[2019-11-06 16:15] bardram opened #126 "Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value"
When trying to receive calendar info on **iOS**, I get an

[code]

in `SwiftDeviceCalendarPlugin.swift` line **217**.

This is in the

[code]

function, when accessing the `ekEvent.title` value.

[2019-11-06 21:32] nickrandolph commented on #126
Hi @bardram are you able to replicate this using the example app that's part of the source code? If so, would you be able to submit a WIP pull request that demonstrates the issue - we can take a look and see if we can reproduce and fix the issue.

[2019-11-10 05:06] SaurabhSM commented on #119
Please add some documentation

[2019-11-10 10:01] MaikuB commented on #119
There's an example app in the repo https://github.com/builttoroam/flutter_plugins/tree/master/device_calendar/example. FYI, it's pretty standard that plugins have an example app at a location like that relative to the plugin as it's comes out of the box with the template for creating a plugin

[2019-11-10 15:48] Ionys320 opened #128 "Allow to use our own eventId"
Hello,
It would be very usefull to allow us to use our own eventId. In my case, the events come from the network, so there have an id. But if I want to add them in the calendar, I must memorize in my app the eventId returned by the plugin and associate them to the event fetched from the network, and it's not very simple.

If you can do something, it would be great !

[2019-11-12 12:29] SaurabhSM commented on #119
Yes there is an example app and yes there is standard procedure to add a example. But when i'm writing code for project i would rather look up API reference rather than hunting into example code what functionality of code is.

[2019-11-12 12:33] MaikuB commented on #119
To clarify, my reply was in relation to the original poster who asked about examples.

API reference documentation for plugins are on pub. See https://pub.dev/documentation/device_calendar/latest/device_calendar/device_calendar-library.html. PRs are welcome for where you feel there are gaps

[2019-11-14 04:03] elyctom commented on #123
@nickrandolph it turns out the fault was all my own. Here's what really happened.

- When creating the event, I actually specified an event ID (not knowing that the platform/plugin was going to generate it's own ID for the event and return that ID as a part of the event creation result;
- When I was performing the subsequent deletion, I then used the event ID I had specified, instead of the one re

[2019-11-18 16:44] jeffscaturro-aka commented on #121
Sounds good - sorry for the delayed reply, lost track of this one.

Feel free to close this out, or mark it as an enhancement for documentation purposes to make that more clear to the consumer.

[2019-11-19 10:05] finpro-svn opened #129 "On Android there is a list of guests even though there were no attendees"
When I create an Event using the Event.fromJson method and I do not specify any attendee. When I createOrUpdateEvent the event is added to Android calendar, however in the calendar states:
"The full guest list has been hidden because the number of guests is too large."

If I do not specify any attendees there should be no guest on the guest list.

[2019-11-27 01:21] soktherat opened #130 "RecurrenceRule: The getter 'isEmpty' was called on null"
setPositions.isEmpty should be setPositions?.isEmpty

[2019-11-27 02:49] nickrandolph commented on #130
@soktherat can you raise a PR with this change - I'll get this and the other outstanding PR reviewed this week

[2019-12-03 20:01] CoreyCole commented on #120
@davidBarbieri @nickrandolph can you shed more light on this issue? I'm having the same problem because I implemented my own `onRequestPermissionsResult()` and I need it for my apps functionality. How did you refactor your code so that they don't conflict with each other? I've made sure my permission request codes don't conflict with device_calendar's (0 to 5):

[code]

[2019-12-03 20:28] CoreyCole commented on #120
I solved the issue by handling calendar permissions through my own platform channel (where I was already doing mic/camera permissions)

[2019-12-05 22:06] CoreyCole commented on #125
This issue has resurfaced again, not only for the the time, but the descriptions/title as well. The updates don't come through until I restart the application.

Is the plugin doing any caching of events or does it query the device every time?

[2019-12-06 09:13] BryteNyte opened #131 "Attendee details not showing in Calendar,Datetime also reflecting inncorrectly."
I am using the example app and testing it on Android. I see that when i create a calendar event and add a Attendee , the attendee isnt showing on the devices calendar but is showing in the example calendar,also i noticed that if i go into my devices calendar the event time date is incorrect but in the example it is correct.

[2019-12-12 14:14] aloisdeniel opened #132 "Custom url for calendar events"
It would be great to have an `url` property at the event level to be able to identify (update for example) an event.

The property seems to be available on both platform :

* [iOS](https://developer.apple.com/documentation/eventkit/ekcalendaritem/1507265-url)
* [Android](https://developer.android.com/reference/android/provider/CalendarContract.EventsColumns.html#CUSTOM_APP_URI)

[2019-12-13 05:42] Iiridayn commented on #99
As an aside, turns out everyone is a proguard user now... This fixed my issue, even though I'm using a standard autogen flutter project with the latest release, etc. Finding it was a lucky stroke. Can how to create a proper proguard file be documented? I added the line from this issue to the file documented here https://flutter.dev/docs/deployment/android#step-1---configure-proguard .

[2019-12-13 05:44] Iiridayn opened #133 "Add how to create a proguard file to documentation"
I am a complete newbie at Flutter and Android development in general. This is literally my first attempt at an app, and it's coursework level. Turns out, #99 applies now to newbies. Could we document how to create a proguard file, from https://flutter.dev/docs/deployment/android#step-1---configure-proguard, so we have the file to add the line to? I'm going to wrap up my classwork submission now an

[2019-12-14 06:31] MaikuB commented on #133
I would say it doesn't make sense to do so. Otherwise, it would mean every plugin should be telling users how to do it and have to update the information in case it changes. This wouldn't be sustainable for maintainers. Moreover, it's a process that belongs to the Flutter documentation (and Android documentation) as devs read through what's required when creating and submitting a release build

[2019-12-14 11:16] Iiridayn commented on #133
I would at least suggest changing the documentation from "If you have Proguard enabled..." to dropping the caveat. Yes, developers should know everything about every system they work with, should read the documentation of every system they rely on completely before writing a line of code, etc. Even I don't know every vim feature. I've not read every line of the linux kernel. Frankly, the Firefox c

[2020-01-07 03:44] Brett09 commented on #128
Hi,

The Event ID is an unique ID generated by each platform, which in this case cannot be manually set or changed.

[2020-01-07 03:44] #128 closed

[2020-01-09 05:13] nickrandolph commented on #132
@aloisdeniel this was added in https://github.com/builttoroam/flutter_plugins/pull/136
and has now been published

[2020-01-09 05:13] #132 closed

[2020-01-09 05:14] nickrandolph commented on #128
@Ionys320 check out https://github.com/builttoroam/flutter_plugins/issues/132
to use the url property for a unique ID
This issue was resolved in this PR: https://github.com/builttoroam/flutter_plugins/pull/136
and has been released

[2020-01-09 05:15] nickrandolph commented on #130
Fixed and released

[2020-01-09 05:15] #130 closed

[2020-01-09 05:18] Brett09 commented on #131
Hi,

Which email account have you used to experience the issue? I cannot reproduce this issue with Office 365 and Gmail accounts.

[2020-01-09 05:19] Brett09 commented on #129
Hi,

Which email account have you used to experience the issue? I cannot reproduce this issue with Office 365 and Gmail accounts.

[2020-01-09 06:44] aloisdeniel commented on #132
Thanks a lot @nickrandolph !

If I may ... a great addition would be to be able to retrieve an event from its url too! :)

[code]

[2020-01-09 23:26] nickrandolph commented on #132
@aloisdeniel we'll have to investigate how easily we can search for events on each platform based on the url attribute.

[2020-01-09 23:27] nickrandolph opened #138 "Retrieve Event based on Url (or other attributes)"
(see https://github.com/builttoroam/flutter_plugins/issues/132 for background on this request from @aloisdeniel)

A great addition would be to be able to retrieve an event from its url too! :)

Because with current APIs we need to load all events to check if it already exists.

final events = await systemCalendar.retrieveEvents(calendarId, RetrieveEventsParams(
     eventUrls : ["custom://events/5

[2020-01-11 14:55] GursheeshSingh commented on #119
Here is a blog - https://itnext.io/using-device-calendar-library-in-flutter-to-communicate-with-android-ios-calendar-95b2d8c77b40

[2020-01-14 03:56] Brett09 opened #139 "UI Consistency with Xamarin & Recurrency Update"

[2020-01-15 03:20] Brett09 opened #141 "Attendee UI & Functionality Improvements"

[2020-01-17 06:32] Brett09 commented on #133
There is a useful guide for enabling Proguard in Android developer page (https://developer.android.com/studio/build/shrink-code).
This is added into the readme file in #140

[2020-01-17 06:32] #133 closed

[2020-01-19 22:09] #139 closed

[2020-01-19 22:09] nickrandolph opened #143 "Code Refactoring (Pedantic)"
Add Pedantic package and address any code warnings

[2020-01-19 23:22] Brett09 commented on #126
Creating an event from Android calendar app (or account's software such as Outlook) and reading that in the plugin from an iOS device will cause this issue, as `ekEvent.title` cannot be null. (Nullable for Android)

The fix will be adding a null check and default to something like "New Event" for both platforms to be consistent. I'll fix this up in the next update.

[2020-01-20 03:26] #143 closed

[2020-01-20 22:27] Brett09 commented on #123
@elyctom thanks for the update I'll close this issue for now. If you experience the issue again please open a new issue ticket.

[2020-01-20 22:27] #123 closed

[2020-01-21 01:10] #141 closed

[2020-01-21 03:54] Brett09 opened #145 "Return if a calendar is a default (or primary) calendar"
Originally from a PR #127, Android support is required to maintain the consistency.

[2020-01-22 00:12] Brett09 commented on #125
@CoreyCole are you still experiencing the issue? I've tried the exact steps with the latest release (v3.0.0) in Android and could not reproduce the issue.

If you still are, can you able to try it out with the latest release? (Please note that there are several breaking changes for Attendee and RecurrenceRule models, you'll need to update your code if you're using them)

[2020-01-22 00:20] Brett09 commented on #111
With the latest release (v3.0.0), haven't noticed such issue. As this ticket is outdated, I'm going to close this. Feel free to open a new ticket if you still experience the issue with the latest release.

Please note that there are few breaking changes in newer versions so make sure to follow the changelogs and examples at pub.dev (https://pub.dev/packages/device_calendar) when you're upgrading t

[2020-01-22 00:20] #111 closed

[2020-01-22 00:57] Brett09 commented on #131
Newer version of this plugin (v3.0.0) has been released yesterday (21/01/20) with attendee improvements and UI improvements for the example app and haven't noticed such issue during testing.
It is a breaking change so make sure to change your code following to the example when you’re upgrading the plugin: https://pub.dev/packages/device_calendar#-example-tab-

Also, in the example app, the attende

[2020-01-22 00:57] #131 closed

[2020-01-22 04:07] Brett09 opened #147 "Add DayOfWeekGroup enum"

[2020-01-22 04:56] Brett09 commented on #119
Just an update: I have added some examples and links into the example readme. You can check it out on `develop` branch for now.
Quick link: https://github.com/builttoroam/flutter_plugins/blob/develop/device_calendar/example/README.md

[2020-01-22 05:01] Brett09 commented on #121
As @Rahul1703 said, the `eventId` field is a read-only variable so you won't be able to create an event with custom ID.

I've updated the property summary to present them as a read-only variable for now in #146 (Possibly assigning those kind of properties to only have a getter in future).

If you'd like to use a custom ID, I recommend to use the URL field (if you're not planning to use it, of cour

[2020-01-22 05:02] Brett09 commented on #122
Equivalent to #121.

As a side note, `eventId` generated from iOS is a complex string mixed with GUID. For example, I received this as an eventId when debugging:
`eventId : "4A74FDEC-D0BC-4392-8BA0-8FCD732EA260:330AF951-9B49-4630-B112-DA38DBABBEFE"`

[2020-01-22 22:21] Brett09 opened #149 "Non-editable read-only calendar events"
**Issue**
In the example app, read-only calendar events are editable on both platforms and causing issues when try to edit:
* Android: Removes itself from the calendar (Restored when re-synced)
* iOS: Throws an exception

**Solution**
Make the whole event form non-editable (and no save button) to view the details only.

[2020-01-23 12:54] jeffscaturro-aka commented on #121
Thanks for the follow-up and info @Brett09, I appreciate it.

[2020-01-23 12:54] #121 closed

[2020-01-23 12:54] jeffscaturro-aka commented on #122
Same here, thanks for the follow-up and info @Brett09, I appreciate it.

[2020-01-23 12:54] #122 closed

[2020-01-23 22:39] Brett09 opened #151 "Unit Testing"

[2020-01-27 11:16] FedericoMatera opened #152 "Unable to add events to calendar with plugin version 3.0.0"
Just updated to version 3.0.0 and I'm unable to save a new event.

Got this error message:
`type 'NoSuchMethodError' is not a subtype of type 'Exception'`
`in DeviceCalendarPlugin.createOrUpdateEvent (package:device_calendar/src/device_calendar.dart:202:54)`

[2020-01-27 16:04] vondeetzen commented on #152
I've setup an example repository here https://github.com/vondeetzen/dc_nosucherrormethod_example with a short tutorial how to reproduce the error. Ran into it a day before.

When I'm running the example project (https://github.com/builttoroam/flutter_plugins/tree/develop/device_calendar/example) it works. Currenlty tested only on iOS 13 simulator (iPhone 11). So I'm currently assuming that there w

[2020-01-27 16:11] vondeetzen commented on #152
Small addition: 2.0.0 also does not work for me (same NoSuchMethodError issue). Everything working fine with 1.0.0+3.

[2020-01-27 22:35] Brett09 commented on #152
Thanks for the details @FedericoMatera, @vondeetzen. I've had a look and found out I didn't put a null check for `Uri` property for the event - `event.url`

I'll make sure to add this into next update, as a workaround for now, please set an empty string to the url property of the event: `event.url = Uri.dataFromString('')`

[2020-01-27 23:07] nickrandolph opened #153 "Make sure package adheres to latest pubspec format"
Review documentation at https://flutter.dev/docs/development/packages-and-plugins/developing-packages#plugin-platforms
Update pubspec accordingly to indicate supported platforms

[2020-01-27 23:09] nickrandolph opened #154 "Add integration tests"
We need integration tests to validate the functionality of the plugin on each supported platform

[2020-01-27 23:10] nickrandolph opened #155 "Update GitHub with tags for each release"
GitHub tags should correlate to versions released to pub.dev

[2020-01-27 23:18] Brett09 commented on #153
Already added from `2.0.0`

[2020-01-27 23:18] #153 closed

[2020-01-27 23:39] Brett09 commented on #152
@FedericoMatera, @vondeetzen, a hotfix `v3.0.0+1` has been released now, update the dependency and you shouldn't be getting the error message anymore. You can discard the workaround.

[2020-01-27 23:39] #152 closed

[2020-01-28 07:44] FedericoMatera commented on #152
Hi @Brett09 ,
now I have a different error:
`Failed assertion: boolean expression must not be null`
`at DeviceCalendarPlugin.createOrUpdateEvent (package:device_calendar/src/device_calendar.dart:170:15)`

`allDay` is nullable, i think

[2020-01-28 07:54] FedericoMatera commented on #152
I created this PR:
https://github.com/builttoroam/flutter_plugins/pull/157

[2020-01-28 11:35] nickrandolph commented on #152
@FedericoMatera thank you for the patience and contribution. We'll get this reviewed (I've done an initial pass already and it looks good) and merged asap.

[2020-01-30 20:41] samcromer17 opened #161 "DayOfWeekGroup error"
I am trying to build the example in my existing app and the DayOfWeekGroup is erroring as undefined, its the only error I am receiving but its stopping me from building the code. Its not in the calendar_enums so I dont know if it wasnt added since its a feature that was added 2 days ago.

![Capture](https://user-images.githubusercontent.com/48026947/73488437-8da3b080-436e-11ea-98bc-a5e557394024.JP

[2020-01-30 22:28] Brett09 commented on #161
@samcromer17 `DayOfWeekGroup` is not available as it is not published yet. Use the existing `DayOfWeek` enum as a workaround until the new version is released.

[2020-01-30 22:28] #161 closed

[2020-01-30 22:29] samcromer17 commented on #161
So just replace DayOfWeekGroup with DayOfWeek? Sent from Mail for Windows 10 From: Brett LimSent: Thursday, January 30, 2020 4:28 PMTo: builttoroam/flutter_pluginsCc: samcromer17; MentionSubject: Re: [builttoroam/flutter_plugins] DayOfWeekGroup error (#161) @samcromer17 DayOfWeekGroup is not available as it is not published yet. Use the existing DayOfWeek enum as a workaround until the new version

[2020-01-30 23:19] samcromer17 commented on #161
There isn’t a .None value for DayOfWeek like there is for the Group, are we supposed to use Monday? Sent from Mail for Windows 10 From: Brett LimSent: Thursday, January 30, 2020 4:28 PMTo: builttoroam/flutter_pluginsCc: samcromer17; MentionSubject: Re: [builttoroam/flutter_plugins] DayOfWeekGroup error (#161) @samcromer17 DayOfWeekGroup is not available as it is not published yet. Use the existing

[2020-01-30 23:25] Brett09 commented on #161
@samcromer17 yup `DayOfWeek` enum has values from Monday to Sunday. If you want to set 'None' for `DayOfWeek` then just don't use it.

[2020-01-30 23:56] samcromer17 commented on #161
Thanks for the help

Sent from my iPhone

[2020-02-01 08:16] sageata opened #162 "Missing "&" at line 179 in device_calendar.dart"
I found a small error in flutter_plugins/device_calendar/lib/src/device_calendar.dart file as is missing an '&' in the if statement.

It causes all the full day events not to be added to the Calendar.

`
    else if (event.allDay != true & ((event?.calendarId?.isEmpty ?? true) || event.start == null || event.end == null || event.start.isAfter(event.end))) {
`

![image](https://user-images.githubus

[2020-02-03 01:38] #155 closed

[2020-02-03 01:41] nickrandolph opened #164 "Allday property resulting in incorrect event"
Reported issue: 'the property "Event.allDay = true;" doesn't save the event correctly in the calendar.'

Further comments: this appears to be an issue on Android based on the timezone of the event (eg setting an all day event with a start day before 11am AEST results in the event being for the previous day)

[2020-02-03 01:42] Brett09 commented on #162
@sageata thanks, it has been publised to a new hotfix `v3.0.0+3`

[2020-02-03 01:42] #162 closed

[2020-02-03 01:45] Brett09 commented on #164
Adding info from Android Developer's page:

- If allDay is set to 1 eventTimezone must be Time#TIMEZONE_UTC and the time must correspond to a midnight boundary.

https://developer.android.com/reference/android/provider/CalendarContract.Events#writing-to-events

[2020-02-03 15:04] Bernhard7 commented on #164
But the class "Event" in "device_calendar" has no property "timezone".

[2020-02-03 22:12] Brett09 commented on #164
@Bernhard7, this issue is only for Android so I'll need to do a fix on Android native code, not Flutter.

[2020-02-04 11:03] Bernhard7 commented on #164
Thanks for updating device_calendar to ^3.0.0+3. Now it works.

[2020-02-06 11:19] sageata commented on #162
@Brett09, thank you!

[2020-02-10 11:00] LOG-TAG commented on #152
recently started using this one, thanks for all contributors
[code]

using this ^3.0.0+3 version what is the temporary workaround? which version I should use? I'm using `_deviceCalendarPlugin.createOrUpdateEvent` only!

[2020-02-12 09:40] ssivagnanam opened #168 "Not able to add calendar event to google pixel phones."
I am trying to add calendar event to google pixel phone.  But i am not able to add it and i couldn't find Default calendar (My Calendar) in calendar app also.
Is there any thing i need to setup in my app to work with google pixel phones?

one more issue is like, i am not able to set "Timezone" while creating event.

[2020-02-12 22:35] Brett09 commented on #168
Maybe it could be a permission issue, check out the readme file [here](https://github.com/builttoroam/flutter_plugins/tree/develop/device_calendar).
You also might want to check out the example app to see examples of the api.

Timezone is not available for this api yet, it will just use the device's timezone. (Note: creating an all day event for Android have a timezone issue right now: #164)

[2020-02-13 03:59] ssivagnanam commented on #168
Hi,
I am able to create event in calendar of Other phones (like Samsung, Redmi, etc.,).  This issue occurs only Google Pixel phones.

I am trying to create event in Australian time zone. But in calendar, start and end time is showing in GMT timezone.  Please refer the screen shot.

![Screenshot_20200212-111657_Calendar](https://user-images.githubusercontent.com/49264085/74400223-555aa280-4e43-11ea

[2020-02-13 22:23] Brett09 commented on #168
Which device and email account are you using? I've been testing with Pixel 3a with Gmail and Outlook and haven't experienced any of event or timezone issues.

The plugin should pick up the device's timezone and use it, I'd assume you have set the device timezone as Australia, not GMT right?

[2020-02-14 05:49] ssivagnanam commented on #168
Could you please share any example code snippet to create calendar events in android.

[2020-02-17 21:45] nickrandolph opened #169 "Fix up formatting warnings"
https://pub.dev/packages/device_calendar#-analysis-tab-

[2020-02-17 22:25] Brett09 commented on #168
If you were able to create a calender event through other devices, you should have the code to create a new event already. But briefly, you just need to call the method `createOrUpdateEvent(Event event)` to create a new event.

Are you able to provide which exact device and email account used? I'd like to test with it to see if I can reproduce this.

[2020-02-18 03:51] ssivagnanam commented on #168
I am using Samsung S7 Edge.  With default calendar of Calendar app.  I want to create event in "My Calendar" Calendar.  I am getting GMT as default time zone. But i have selected my time zone as AST in DateTime under settings.

For Pixel phone issue, I am trying to create event in Pixel 2 phone.
Note: in this device, we don't have "My Calendar". so i am using my personal mail id.

[2020-02-19 05:42] ssivagnanam commented on #168
Hi, I have observed that
var calendarsJson = await channel.invokeMethod('retrieveCalendars');
above line of code is returning below json string as result.
[{"a":true,"b":"2","c":"Holidays in India"},{"a":true,"b":"3","c":"Birthdays"},{"a":false,"b":"4","c":"balajitheo@gmail.com"}]
But in Calendar model, is creating object using wrong keys

  Calendar.fromJson(Map<String, dynamic> json) {
    id =

[2020-02-19 06:17] ghost opened #170 "isSuccess is always true when createOrUpdateEvent"
Hi everyone,

I'm using the latest version 3.0.0+3. I'm actually testing the application with the iOS emulator on my mac with all the updated versions and a standard google account.

I need to create about 350 events in the calendar from the application, but not all events are created in Google Calendar.  The creation always returns true in isSuccess() and an eventID on date. If I look at the onli

[2020-02-19 10:38] sajadj313 opened #171 "Plugin not working after publishing"
Hi all,

I can create events on debug mode and it works very well but once the apk is published, the plugin does not work as expected.

Steps to reproduce:

- In the build mode, execute the code to create a basic event
- `flutter clean`
- `flutter build apk`
- install the apk on a real mobile device
- execute the same event creation code

`void _createEvent() async {
    final calendar = DeviceCal

[2020-02-21 06:21] Brett09 commented on #171
Try building the apk by `flutter build apk --no-shrink`

[2020-02-21 06:26] #171 closed

[2020-02-23 23:02] Brett09 commented on #168
I've tried using Pixel 2 with my personal gmail and I do get the correct json results.
Maybe have to look at the [readme](https://github.com/builttoroam/flutter_plugins/blob/master/device_calendar/README.md) if you have the correct permissions and Proguard configs set correctly.

For the timezone issue, the below code is ran to get current timezone for the device:
`val currentTimeZone: TimeZone =

[2020-02-23 23:56] Brett09 commented on #170
Not exactly sure what's going on there, will need to do some testing to see what's happening. Meanwhile, have you tried the same actions on an Android device?

[2020-02-24 05:15] ssivagnanam commented on #168
Thanks for your support.  I am able to create events in all devices after enabling proguard settings as mentioned in readme.
But still i am not able to get current timezone in created events (still event is points to UTC timezone). This issue occurs only in samsung devices.
 Is there any settings i need to do in Calendar app to set the default timezone?

[2020-03-01 15:51] JKSpenc opened #173 "Recurring events not being created, possible bug?"
Hi, I've been trying to create a Recurring Event and it does not create it at all but returns as if it was successful. It does create non recurring events properly though.

My event looks like this:
[code]

I did some digging in the kotlin code and found that a recurring event was being created with the values:
[code]

The recurrence rule is correct but android documentation states that we should

[2020-03-01 16:07] JKSpenc commented on #173
Sidenote: The device it is being ran on is an Android Emulator running API 21, Android 5.0 (Google APIs)

[2020-03-01 16:15] JKSpenc commented on #173
Ignore me, the events are being created but the Google Calendar android app is not showing them. Detailed in https://support.google.com/calendar/thread/3819423?hl=en

[2020-03-01 16:15] #173 closed

[2020-03-02 08:34] Gitminh9201 commented on #170
Same! All event i try create return 'success' but not some item can go it :((((

[2020-03-04 06:13] Brett09 commented on #168
I'll try it out with a Samsung phone to see what I get and get back to you. Meanwhile maybe trying out changing a timezone to something else and reverting it back to what it was?

[2020-03-04 06:17] Brett09 commented on #170
@Gitminh9201, how many events were you creating and (roughly) how many didn't get created?

[2020-03-04 07:18] cptloc commented on #170
As i told about 350 events added and from 200 to 250 created. It's always the same. Uf I put a delay between each add (about 500 milliseconds) all events are created successfully.
How I check if all events are created? I save all events id and then I delete it from GCal.

In the next few days I will try with Android to see If I have the same problem, but I can try only with the simulator.

[2020-03-04 23:06] Brett09 commented on #168
@ssivagnanam I've had a good look with Samsung Galaxy S6. Here's what I found:

- The phone correctly gets the current timezone and set it - I'm in Australia so I get/set AEST
- When I look into the event details, for my case, there's no timezone set to the event, but the time seems like set as GMT timezone just like you're having
  - But when I look at the event in montly calendar view, it displa

[2020-03-05 03:39] ssivagnanam commented on #168
Yeah.  Thanks for an Update.  Please keep me posted if any updates on this request.

[2020-03-06 00:13] Brett09 opened #177 "Add Build Pipeline"

[2020-03-06 00:24] Brett09 commented on #168
I'm going to close this for now, will let you know if I get a chance to add timezone support to the plugin.

[2020-03-06 00:24] #168 closed

[2020-03-06 14:20] kinex opened #179 "Add ACCOUNT_NAME and ACCOUNT_TYPE to Calendar data"
Calendar data is missing ACCOUNT_NAME and ACCOUNT_TYPE (referring to Android API terms). Those fields would allow displaying prettier list of available calendars to users, for example grouped by account name.

https://developer.android.com/reference/android/provider/CalendarContract.SyncColumns#ACCOUNT_NAME

[2020-03-08 23:54] Brett09 commented on #179
Do you know if there are iOS equivalent variables? We need to have the consistency between platforms.

[2020-03-09 05:40] Brett09 commented on #179
I've found iOS variables and applied them. I'll try to add this to the next release.

fyi, iOS uses `EKSource` for account information [found here](https://developer.apple.com/documentation/eventkit/eksource)

[2020-03-09 13:26] kinex opened #180 "Allow listening for changes in a calendar"
To refresh calendar views when some other app updates events we should be able to listen for changes in a calendar.

This should be possible in Android using [ContentObserver](https://developer.android.com/reference/android/database/ContentObserver.html).

I don't know what data is available for changes but I think this would be enough: changed calendarId and changed year + month (or changed date

[2020-03-09 22:46] kinex opened #181 "Use threads for better performance"
I noticed this plugin is doing its work in UI thread. I can already see some slowness in my app UI. Could you please consider applying threading for better performance. This is also recommended at least in related Android [documentation](https://developer.android.com/reference/android/provider/CalendarContract.Instances#query(android.content.ContentResolver,%20java.lang.String%5B%5D,%20long,%20lon

[2020-03-09 23:34] Brett09 commented on #180
Calendar and event IDs are read-only fields so I would say listen to event updates (title, description, start, end, etc...) or when an event has been added or removed.

Also, we need to be consistent with iOS, do you know anything equivalent of Android `ContentObserver` for iOS?

[2020-03-10 00:21] Brett09 commented on #170
I've just tested creating 350 events (by looping) in both platforms all of them were added successfully - it returns all true for `isSuccess` and I could see `retrieveEvents` method was returning all 350 events.
But I get the same issue on deleting them, where roughly half of them gets deleted.

I've put a delay of 10 milliseconds for each iteration (`await Future.delayed(Duration(milliseconds: 10

[2020-03-10 00:26] Brett09 commented on #181
Thanks for the suggestion & examples. Will look into them and apply them when I get a chance.

[2020-03-10 00:32] Brett09 commented on #129
With the latest release (v3.0.0+3), haven't noticed such issue. As this ticket is outdated, I'm going to close this. Feel free to open a new ticket if you still experience the issue with the latest release.

[2020-03-10 00:32] #129 closed

[2020-03-10 00:56] Brett09 commented on #125
As I said above, I haven't noticed such issue in the latest version and so I'm going to close this for now. Feel free to open a new ticket if you still experience the issue.

fyi, I could be wrong but maybe try with a different device/emulator as it could be a device issue.

[2020-03-10 00:56] #125 closed

[2020-03-10 07:32] kinex commented on #180
By `eventId` (and `calendarId`) I meant the data what is sent from the plugin to the app when an `Event` is added, updated or deleted. I guess `eventId` would be the minimum required data for that app knows which `Event` it should refresh (it could then call `retrieveEvents` to get the full updated `Event` data). Or maybe you can do this even easier by passing directly the whole changed `Event` da

[2020-03-10 18:22] cptloc commented on #170
Hi, isSuccess always returns true to me too, but if I check online on Google calendar I don't see all the events, and when I go to delete them it returns an error on the events it doesn't find.

A delay of 10 milliseconds is not enough for me, the entry is not always successfully created, I found that 250 guarantees me, at least for the tests I did, that all the events are created correctly (I can

[2020-03-10 23:11] kinex commented on #164
I think `retrieveEvents` still returns events with invalid start/end times (testing in master). Few related observations: https://github.com/builttoroam/flutter_plugins/blob/develop/device_calendar/android/src/main/kotlin/com/builttoroam/devicecalendar/CalendarDelegate.kt#L511
=> Should you handle EVENT_TIMEZONE and EVENT_END_TIMEZONE in that code? https://developer.android.com/reference/android/p

[2020-03-11 09:29] kinex opened #182 "Incorrect value set to Events.EVENT_TIMEZONE (Android)"
I have been investigating some timezone related issues and found this in the plugin code:
https://github.com/builttoroam/flutter_plugins/blob/develop/device_calendar/android/src/main/kotlin/com/builttoroam/devicecalendar/CalendarDelegate.kt#L390

I am quite sure `displayName` is not the correct value to put there, you should use `ID` instead (as told e.g. [here](https://stackoverflow.com/questions

[2020-03-11 13:55] finpro-svn commented on #129
For me the version 3.0.0+3 fixed the problem. There are no guests any more in the Event,  when I do not specify any attendee. Thank you.

[2020-03-11 22:07] Brett09 commented on #164
@kinex I've already found a solution for this and will be fixed in next release

[2020-03-11 22:21] Brett09 commented on #182
I haven't seen any issue with using `displayName` except it uses wrong (or null) timezone when you use your local calendar in Samsung phones. Just tried out with using `id` and it seems to be working.
Thanks for the point and I'll put this in so it's available in the next release.

[2020-03-11 22:22] Brett09 commented on #168
@ssivagnanam just an update with the Samsung phone issue, as from #182, I was able to get the current timezone for the local calendar when I use `id` instead of `displayName`. I'll apply this in the next release.

[2020-03-11 22:34] kinex commented on #164
@Brett09 Ok, great. And hopefully you noticed that my previous comment is probably related to a different issue than originally reported in this issue (sorry my bad, I should have created a new issue). In my opinion this is the most annoying issue at the moment what I have seen in this plugin, as for example all events retrieved from holiday calendars have invalid timestamps. Waiting for the fixes

[2020-03-13 16:49] adamwoodster commented on #90
Just for anyone checking this in the future (like me), I fixed this issue by making sure 'use_frameworks!' was in the Podfile.

[2020-03-16 09:12] eliseyOzerov opened #184 "Calendar functionality not working in release mode"
Hi,

I have an unusual problem going on, and the title pretty much describes it.

Basically, my task is to enable adding and removing events from the device calendar. This works properly when I'm in the debug or run --release modes, but not after I build the apk and launch it independently from VSCode.

I was wondering if anybody has encountered this issue and knows something that might help.

Ple

[2020-03-16 22:14] Brett09 commented on #184
Possible duplicate, please refer to this issue: https://github.com/builttoroam/flutter_plugins/issues/99

The readme has some information about Proguard already but I'll probably leave an extra note so it's easier to catch for this kind of issue.

[2020-03-16 22:14] #184 closed

[2020-03-17 08:35] hardypatel30 opened #185 "Ios Simulator createOrUpdate event not working."
While adding event to the calendar in simulator it is giving me below error.

PlatformException(405, Calendar with ID E0E5295C-DCDA-47BF-9161-4C7F08F94A68 is read-only, null)

[2020-03-17 11:41] eliseyOzerov commented on #99
This solution worked for me for the Android build, what about the iOS? Because this bug is happening on iOS as well.

[2020-03-17 13:00] eliseyOzerov opened #186 "Release mode retrieveCalendars in iOS"
Basically the same issue as for the Android where the retrieveCalendars function doesn't work in release mode. I fixed it on Android by using the suggestion in #99 and the package documentation, but what do I have to do to make it work on iOS too?

[2020-03-17 22:12] Brett09 commented on #185
As the error says, the calendar you're trying to use is read-only and you're not allowed to add/edit or delete the calendar.

[2020-03-17 22:12] #185 closed

[2020-03-17 22:34] Brett09 commented on #186
Will need to investigate, but meanwhile have you tried the iOS integration in the readme file?

## iOS Integration

For iOS 10 support, you'll need to modify the Info.plist to add the following key/value pair
[code]

Note that on iOS, this is a Swift plugin. There is a known issue being tracked [here](https://github.com/flutter/flutter/issues/16049) by the Flutter team, where adding a plugin devel

[2020-03-18 06:19] Brett09 opened #187 "Replace Travis CI to Azure Pipeline"
Also update the status badge

[2020-03-18 08:46] eliseyOzerov commented on #186
Yes, this has already been done.

[2020-03-19 06:05] Brett09 opened #190 "Use Timezone as a property in the Event model"
Currently the plugin uses device's current timezone as a default. Retrieving timezone inputs for start/end date will give an event with start/end time matching with timezone inputs.

[2020-03-23 06:17] Brett09 opened #195 "Setup Token for Build Pipeline"
Need access tokens to publish the package to pub.dev

[2020-03-23 15:29] jurjukn opened #196 "Missing android createCalendar"
Missmatch between flutter and android versions. Flutter has createCalendar method, while android version does not have it. Therefor it throws exception when creating a calendor

[2020-03-24 06:30] Brett09 commented on #196
Create calendar is not supported in the current version. Not sure where you got the method from, but a pre-release has been published [here](https://pub.dev/packages/device_calendar/versions/3.1.0-dev.11079) (v3.1.0-dev.11079) and it supports creating a calendar.

You can have a look at the pre-release for now, a stable version will be released later.

[2020-03-24 07:20] laurisvan opened #202 "Parallel Objective C versions of iOS functionalities"
Hi,

Our team needed to have an Objective C version of device calendar (mainly due to build and binary size limitations) of your great plugin. However, maintaining a fork is rarely a good idea, and we would like to get the implementation upstream. As a small added feature from our side, we have added feature for subscribing for calendar changes, so that Flutter side could be notified when events a

[2020-03-25 04:38] #115 closed

[2020-03-25 04:39] #195 closed

[2020-03-25 04:44] Brett09 commented on #179
v3.1.0 has been published and you'll be able to get account name and type under `Calendar` model

[2020-03-25 04:44] #179 closed

[2020-03-25 04:45] #145 closed

[2020-03-25 04:45] Brett09 commented on #108
Added in v3.1.0

[2020-03-25 04:45] #108 closed

[2020-03-25 04:45] Brett09 commented on #147
Added in v3.1.0

[2020-03-25 04:45] #147 closed

[2020-03-25 04:45] Brett09 commented on #145
Added in v3.1.0

[2020-03-25 04:51] Brett09 commented on #119
Documentation has been updated and published in pub.dev [here](https://pub.dev/packages/device_calendar) - Examples are not shown correctly at the moment.

Examples are available in the repo [here](https://github.com/builttoroam/flutter_plugins/blob/master/device_calendar/example/README.md).

I'll fix to show the examples in the pub.dev site and add more examples in the future.

[2020-03-25 04:51] #119 closed

[2020-03-25 04:51] Brett09 commented on #126
This has been fixed in v3.1.0

[2020-03-25 04:51] #126 closed

[2020-03-25 04:51] Brett09 commented on #149
Fixed in v3.1.0

[2020-03-25 04:51] #149 closed

[2020-03-25 04:51] Brett09 commented on #177
Added in v3.1.0

[2020-03-25 04:51] #177 closed

[2020-03-25 04:52] Brett09 commented on #187
Replaced in v3.1.0

[2020-03-25 04:52] #187 closed

[2020-03-25 04:52] Brett09 commented on #164
This has been fixed in v3.1.0. You will be able to set all day events without any time issues in Android

[2020-03-25 04:58] Brett09 commented on #196
v3.1.0 has been published, you should be able to create calendars in both platforms. Feel free to open a new issue ticket if you face any issues

[2020-03-25 04:58] #196 closed

[2020-03-25 05:12] Brett09 commented on #182
All `TimeZone` variables are now using `id` in v3.1.0, closing this ticket.

[2020-03-25 05:12] #182 closed

[2020-03-26 10:28] eliseyOzerov commented on #186
Hi guys, is there an update to this issue? I have a feature hung up on a project regarding the calendar with no solution to date.

[2020-03-29 23:44] Brett09 commented on #202
Hi,
Currently, our priority is to maintain Swift code but we're happy to review if you'd like to contribute and open a PR for Objective C code.

[2020-03-30 03:11] kabwizi opened #210 "daysOfWeek form json don't return the right dates"
when trying to add an event to the calendar with json, Example: List <int> [1,2,5] (for daysOfWeek); with the recurrenceRule.toJson () method, it is not the good days that are saved in the calendar. but when we do it without the ToJson () method; it works perfectly.

[2020-03-30 04:07] Brett09 commented on #210
Can you elaborate more? I don't get what you're trying to explain here.

Also, you don't need to call `toJson` or `fromJson` in the code as `retrieveEvents` and `createOrUpdateEvent` methods in the plugin automatically encode/decode the `Event` object.

[2020-03-30 05:30] Brett09 commented on #186
Just tried with my personal iPhone using `flutter run --release -d "[MY_PHONE_NAME]"` and I was able to retrieve calendars, events, etc.

It could be possible that the calendar permission has been denied somehow in the device you're testing on? Maybe try the above command with a different device?

[2020-03-30 08:43] flenair opened #211 "On Android calendars are return in a map <key, value>"
Hello,
On Android (device or simulator) in my application when I retrieve the calendar list I always have a map (key-value) and not a list of calendars. Work's fine on Ios.

When I'm using the sample app, I have not this problem.

![image](https://user-images.githubusercontent.com/38036065/77892142-62581780-7272-11ea-9b12-941eeab2f2dc.png)

Maybe a setting android of my projet, but which one ? It'

[2020-03-30 17:39] kabwizi commented on #210
//like so
createEvent(_calendars, _deviceCalendarPlugin) {
  Map<String, dynamic> eventMap = {
    "eventId": "125",
    "calendarId": _calendars.id,
    "title": "event title",
    "start": DateTime.now().millisecondsSinceEpoch,
    "end": DateTime.now().add(Duration(days: 2)).millisecondsSinceEpoch,
    "allDay": false,
    "reminders": [Reminder(minutes: 30).toJson()],
    "recurrenceRule": Rec

[2020-03-30 17:40] kabwizi commented on #210
if you try with this code, the date that will be saved in the calendar will not have the correct dates either DayOfWeek.Friday,
DayOfWeek.Saturday,
DayOfWeek.Wednesday

[2020-03-30 18:09] kabwizi commented on #210
//like so:
createEvent(
    Calendar _calendars, DeviceCalendarPlugin _deviceCalendarPlugin) async {
  Map<String, dynamic> eventMap = {
    "eventId": "etgsh",
    "calendarId": _calendars.id,
    "title": "title event",
    "start": DateTime.now().add(Duration(hours: 1)).millisecondsSinceEpoch,
    "end": DateTime.now().add(Duration(hours: 3)).millisecondsSinceEpoch,
    "allDay": false,
    "re

[2020-03-30 18:09] kabwizi commented on #210
if you try with this code, the date that will be saved in the calendar will not have the correct dates either : DayOfWeek.Friday,
DayOfWeek.Saturday,
DayOfWeek.Wednesday

[2020-03-30 22:46] Brett09 commented on #211
How are you retrieving calendars? Are you using `retrieveCalendars` in `device_calendar.dart`? That output doesn't seem like a calendar at all.

[2020-03-30 23:19] Brett09 commented on #210
Is there a reason you're creating an event object as a Map? There is `Event` object in the plugin and you can use that object to assign event properties and call `createOrUpdateEvent()` method.
Also, you shouldn't assign event ids unless you know that id is correct and you're editing the event.

I've tested with the example app in the plugin with the same recurrence rule and I can see it is gettin

[2020-03-30 23:23] Brett09 opened #212 "Repo rename & project clean up"
- Rename repo `flutter_plugins` to `device_calendar`
- Add repo description following with pub.dev link
- Re-order the project hierarchy - have the main plugin files in the root of the repo

[2020-03-30 23:39] kabwizi commented on #210
Is there a reason you're creating an event object as a Map?
yes. because with the  Event object
we do not have the possibility to set manualy reminders.

[2020-03-30 23:41] kabwizi commented on #210
Is there a reason you're creating an event object as a Map?
yes. because with the Event object
we do not have the possibility to set manualy reminders.
is there a way to do that with the event object?

[2020-03-30 23:59] kabwizi commented on #210
thanks in advance for your time

[2020-03-31 00:05] Brett09 commented on #210
Yes there is. See [here](https://github.com/builttoroam/flutter_plugins/blob/master/device_calendar/lib/src/models/event.dart) - there is a property called `reminders` with type of `List<Reminder>`.

[2020-03-31 00:17] kabwizi commented on #210
thank you again for having found the time to answer me. I had time to see your code, but I don't know, maybe it is me who doesn't understand, but your constructor Event (this.calendarId,
      {this.eventId,
      this.title,
      this.start,
      this.end,
      this.description,
      this.attendees,
      this.recurrenceRule,
      this.allDay = false});
 does not accept List <Reminder> remin

[2020-03-31 00:19] kabwizi commented on #210
thank you again for having found the time to answer me. I had time to see your code, but I don't know, maybe it is me who doesn't understand, but your constructor `Event (this.calendarId,
{this.eventId,
this.title,
this.start,
this.end,
this.description,
this.attendees,
this.recurrenceRule,
this.allDay = false});`
does not accept List reminders.
there is only the constructor `Event.fromJson (Map <

[2020-03-31 00:23] kabwizi commented on #210
thank you again for having found the time to answer me. I had time to see your code, but I don't know, maybe it is me who doesn't understand, but your constructor Event (this.calendarId, {this.eventId, this.title, this.start, this.end, this.description, this.attendees, this.recurrenceRule, this.allDay = false});
does not accept `List<reminders>.`
there is only the constructor Event.fromJson (Map <

[2020-03-31 00:24] kabwizi commented on #210
thank you again for having found the time to answer me. I had time to see your code, but I don't know, maybe it is me who doesn't understand, but your constructor `Event (this.calendarId, {this.eventId, this.title, this.start, this.end, this.description, this.attendees, this.recurrenceRule, this.allDay = false});`
does not accept `List<Reminders>.`
there is only the constructor `Event.fromJson (Ma

[2020-03-31 00:34] Brett09 commented on #210
Ah good point, no idea why `reminder` is not part of the constructor, I'll make sure to add it in the next release. As a workaround, you can directly assign to the property. For example:
[code]

[2020-03-31 00:46] kabwizi commented on #210
thank you very much Brett09 for still finding the time to answer me, I can't wait to see your next publication for this plugin, otherwise, congratulations for the great work you have done with this plugin, your code is magnificent and you have it made easy to understand for everyone (I"m French speaking, so I know what I'm saying). I wish you a good continuation for the future. And again congratul

[2020-03-31 00:56] #210 closed

[2020-03-31 14:16] kinex commented on #164
@Brett09  I don't think this has been fixed. I am still receiving events from a holiday calendar with invalid offsets. For example "New Year Day" starts 2am in local time. It should start at 0:00,

Did you check my comments above? I think there are clear related issues in the code. Please test this using some holiday calendar which has events with different timezone than your test device. If you j

[2020-04-01 01:02] Brett09 commented on #164
@kinex the reason it's not showing the time as 0:00 is because the example app is not using `toUtc()`.

The all day event functionality has been fixed however, if you'd like to view the all day events as 0:00, then I recommend for you to add `toUtc()` in your app.

[2020-04-01 06:26] kinex commented on #164
@Brett09 The start time should 0:00 in local time. In UTC time it should be 22:00 (previous day, if my timezone is GMT+2). In other words holidays in a local holiday calendar should always start at 0:00 in local time. For example in a German holiday calendar a holiday (all day event) should start at 0:00 in German time (=local time). Any other start time would not make any sense.

[2020-04-03 12:16] eliseyOzerov opened #216 "NullPointerException when trying to create a calendar on Android"
Here's my code: `final Result<String> newCalendarID = await plugin.createCalendar("Activities", calendarColor: Color(0xff1D275B));`

Here's the stacktrace: `MethodChannel#plugins.builttoroam.com/device_calendar(30084): Failed to handle method call
E/MethodChannel#plugins.builttoroam.com/device_calendar(30084): java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.

[2020-04-03 13:47] chuckinSpace opened #217 "result from retrieveCalendars() returns id and name = null on Android"
Only on Android (IOS is working fine, same code), I'm getting back a non-empty array with the right amount of calendars (length 2), but the actual fields are all null, (id, name etc..) any ideas? permissions are granted correctly, I tried both on the simulator and on a real device

` final calendarsResult = await _deviceCalendarPlugin.retrieveCalendars();`

![Screen Shot 2020-04-03 at 9 45 00 AM](

[2020-04-03 23:34] chuckinSpace commented on #217
Well after starting from a brand new project I figured out what was wrong,  I was running into this issue  https://github.com/flutter/flutter/issues/47517  after I added google sign in, and tried to fix it with  one of the accepted answers ===>
[code]
This created the conflict with device Calendar and start to get back null results, I fixed it using the other solution from the issue

Add this to d

[2020-04-06 00:40] Brett09 commented on #216
Which device did you use to get the exception? I've tried on an Android emulator (Nexus 5 API 29) and cannot reproduce this issue.

[2020-04-06 01:01] Brett09 commented on #217
We had similar issues previously on release mode, if related, you might want to check the Proguard settings for Android [here](https://github.com/builttoroam/device_calendar/issues/99).

[2020-04-06 06:31] eliseyOzerov commented on #216
I'm running it on an emulator with API 29 as well.

[2020-04-09 17:31] taoweiji opened #218 "A serious error occurred on the android phone, causing the system calendar to crash"
2020-04-10 01:30:05.190 32256-32297/? E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
    Process: com.oneplus.calendar, PID: 32256
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$4.done(AsyncTask.java:399)
        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)
        at java.util.concurrent.FutureTask.se

[2020-04-10 10:04] flenair commented on #211
Yes that's what i did.
The example projet is working fine, so i decided to take all src files inside my project.
And it doesn't work, same problem
I tried also to find an android setting that could be different and the root cause but i still dont find.
I've also tried tu used the same version of gradle...Same problem.

[2020-04-11 14:41] chuckinSpace commented on #99
Where is this line supposed to go exactly?

[2020-04-11 15:02] chuckinSpace commented on #217
Yes, I am actually getting that issue now, waiting for some feedback on that there

[2020-04-11 15:41] britannio commented on #99
`android/app/proguard-rules.pro`
Mine looks like this:
[code]

then in `android/app/build.gradle` add the following line to buildTypes { release  {}}
`proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard-rules.pro'`

I also use `minifyEnabled true` and `shrinkResources true` in the same place.

Finally under `android/gradle.properties` I have `android.enableR8=true`, R8 still re

[2020-04-13 07:18] devs4522 commented on #217
I am also facing same issue in release apk only even after applying above changes. Please help if anyone faced and resolved it before. Thanks

[2020-04-13 08:41] devs4522 commented on #217
I got it resolved by following Proguard settings. @Brett09 Could you please remove - if you have Proguard enabled, from the readme page because it is confusing . most of new developer dont know whether it is enabled for their project or not. So Make  it a mandatory steps rather than optional in installation of this library.

[2020-04-13 19:01] greedyRoach opened #219 "How to use color system"
This is a doubt about how to use the color property of calendars
I got this number as the color of my calendar:

`-6644481`

how do i convert that number to a color?

[2020-04-13 21:35] greedyRoach commented on #219
this was my plain inexperience with flutter

`Color(calendar.color)`

solves this

[2020-04-13 21:35] #219 closed

[2020-04-17 00:00] FCView opened #220 "allDay event does not span multiple days"
I want to be able to create an event that spans several days, and is an All Day event.

Currently, when I try to do so, it only posts to the calendar as a 1-day All Day event on the first day.

[code]

When I later call DeviceCalendarPlugin.retrieveEvents(...), I get the event back, but the end date now matches the start date (Event.start == Event.end) and it displays only on that start date on my

[2020-04-21 08:50] eliseyOzerov commented on #216
any updates on this?

[2020-04-21 21:50] brendabullorini commented on #220
My problem is the opposite.
If I put allDay = false, it creates the an all day event

[2020-04-23 13:53] eliseyOzerov commented on #216
@Brett09 i've got a feature on hold bcs of this. Please check out what's going on with this issue. As I've said, on the emulator it works fine, but throws an exception on the device. I'm using Samsung Galaxy S9+ for testing. It has something to do with the ContentResolver on line 254 in CalendarDelegate.kt, but I wasn't able to debug it as it was telling me in the ContentResolver file that bytecod

[2020-05-01 12:03] Alimoes commented on #216
Following! It does work when I disable/logout iCloud or Gmail account on the device. But normally I have the exact same error on both IOS and Android as most have either iCloud or gmail enabled.

[2020-05-03 21:30] bodamithun opened #221 "Event not showing up on the calendar"
hey I am using the latest version in flutter app, trying to create an event. I see that the code return success, but when I go into the calendar, I see that event is not created. I would really appreciate any pointers as to why I am not seeing events in the calendar.

in a code  I am setting the calendar in a method, and calling another method to create the event.

           calendarsResult = awa

[2020-05-03 22:46] nickrandolph commented on #221
Which platform are you seeing this on?

[2020-05-03 23:43] bodamithun commented on #221
I am building a flutter app, in android studio.

[2020-05-03 23:52] nickrandolph commented on #221
yes, but which platform (iOS or Android, or both) are you seeing this issue with?

[2020-05-04 00:04] bodamithun commented on #221
oh..Both the platforms... calendar type is gmail

[2020-05-04 00:10] nickrandolph commented on #221
If you query the calendar using the API do you see the event?

[2020-05-04 00:11] bodamithun commented on #221
do you mean after adding the event to the calendar?

[2020-05-04 00:12] nickrandolph commented on #221
yes - check that the API isn't seeing the event. Or is that what you meant by checking the calendar?

Also, please remove the line that sets the eventId - I suspect that might be preventing the event from being saved since this is auto generated.

[2020-05-04 00:54] bodamithun commented on #221
I removed the id statement.

so this is interesting  in the createOrUpdateEvent(Event event), I see that the event is loaded.
but  when its invokes this method, at this line
  await channel.invokeMethod('createOrUpdateEvent', mapobject);
channel is null...

but it does not through any exceptions also..

[2020-05-04 01:51] bodamithun commented on #221
ok... I changed the calendar to look at the default one and also removed the setting of id...and now it seems to be adding the event. but there is  another issue..

When ever I go to certain page, I am loading and adding events, but I see that the event is being added to the calendar every time I open that page, i was expecting it to add only once and update it if there is change. how does it dete

[2020-05-04 02:43] nickrandolph commented on #221
At this stage you'll need to retrieve the events and see if there is one that matches. You could use the Url property to store your event id and that way you can check the Url property

[2020-05-04 03:31] bodamithun commented on #221
I see that retrieveevents functionality, but I see that the eventid is also required to be passed..so I am confused on how to retrieve events.

[2020-05-09 07:51] Ananthan1996 commented on #186
Is this working fine in IOS release mode. I fixed in android from the suggestion #99.

[2020-05-12 12:30] thiszhong opened #223 "iOS createCalendar error: Local calendar was not found"
It occurs on my real iPhone device(iPhone 7, iOS 13.3.1 et.), while simulator and android are OK. I tried both my app and the demo.
[code]
![WechatIMG1](https://user-images.githubusercontent.com/12380965/81690907-92f4b900-948e-11ea-8562-ebcff2331769.png)

[code]

[2020-05-12 13:33] thiszhong commented on #223
Seems to be the iCloud. When I close it by setting-account-iCloud-Calendar, createCalendar successed. Is there any solution?

[2020-05-13 04:40] KishanBusa8 commented on #221
Hey i am also facing the same issue, But i figured it out where is the problem.
Problem is when we use build app(after flutter build apk) it cant gave us access to use user's calendar, we cant retrieve any calendars from user's devices. But when we use it with same code at debugging time it grant us to access to user's devices calendar there's no issue.
I dont know how is this happen.

[2020-05-13 14:04] mcavazotti opened #225 "Is there a way to delete a calendar?"
I couldn't find anything about it in the docs. I just need to be able to delete the calendars created by this plugin

[2020-05-14 12:13] mmc16 commented on #216
I'm having the same issue...
Has anyone found another workaround? Because I can't disable Gmail....

[2020-05-15 08:50] tom95 opened #226 "Reason for Result?"
Hi, great plugin!

I was wondering whether you could provide an insight on why the Result class exists? Naively, it appears that it will act in exactly the same way as a Future, providing a binary result of either success or failure, so either coming with the resolve data or the error that caused the rejection.

Should it indeed be equivalent, I would propose with this issue to have the API moved

[2020-05-16 07:46] dabellana07 commented on #225
same, I need this feature too and would be nice to have it.

[2020-05-20 10:03] ssivagnanam opened #227 "Event reminder is not updating in iOS."
Hi team,

I have created an event with reminder duration as 0 minutes (which is at the time of event).  And later on when i tried to change it from 0 to XX minutes.  It not updating in device calendar.  This issue occurs only in iOS devices.

Code snippet:
 Event _event = new Event(writableCalendarId,
              eventId: shift.localShiftId != "0" ? shift.localShiftId : null);
          _event.t

[2020-05-25 04:27] elaishane opened #228 "I want a default calendar for my flutter app through which i will be able to add,delete events in my device"
Can you do something to allow me to use one default calendar in my flutter app. its urgent

[2020-05-25 13:32] mmc16 commented on #217
I'm getting the same issue. I'm new to app development and AFAIK I'm not using Proguard (I couldn't find any proguard file), and what @chuckinSpace suggested didn't work for me either....
Am I missing something?

[2020-05-26 17:47] Ananthan1996 opened #229 "Event not deleting from Google calendar ( Android release mode)"
Event is not deleting in Google calendar when the flutter app is run in release mode.Both creation and deletion is working in debug mode.But only creation is working on release mode.Please help me to find solution inorder to delete the event in release mode.I have to release one urgent feature

[2020-05-26 17:50] Ananthan1996 commented on #229
Create/update is working fine in release mode.

[2020-05-27 02:05] Ananthan1996 commented on #225
Yes it's there .but I am facing some issue in android release mode while deleting events .It is working fine in debug mode.

[2020-05-27 04:45] Ananthan1996 commented on #99
Now I can retrieve calendars in release mode by adding proguard. But for release mode deletion of event is not working.Can anyone  help me in this case.I have an important feature to release.

[2020-05-27 12:50] petekblaz commented on #216
Any info on this? A workaround perhaps?

[2020-05-28 22:11] Pranjal2041 commented on #216
The problem is with CalendarContract.Calendars.CALENDAR_COLOR on line 251. Due to some reasons it is unable to parse the hexadecimal color code. A workaround is to conert the color to int value using Color.parse function of android.graphics.colors library. #232

[2020-06-01 06:36] intkhabahmed opened #233 "Doen't allow only reading calendar"
I have a usecase where I just need to read the calendar but the current implementation forces me to get both read and write permissions which is not what I want. Please try to make both optional.

[2020-06-01 15:27] intkhabahmed commented on #181
@Brett09 what is the progress in this, it is causing my app to skip frames, please resolve this asap.

[2020-06-03 07:03] jayeshpansheriya opened #234 "i dont get url in google calender."
i have make demo of calendar project from [https://github.com/builttoroam/device_calendar/tree/develop/example](url)
but currently i make any new event in android device then i see in google calendar app its not show any url.
**android device project screenshot**
![Screenshot_1591180092](https://user-images.githubusercontent.com/31765271/83626448-0fbd1380-a5b3-11ea-9d59-2139201e39e1.png)

**androi

[2020-06-03 20:10] marcusaram commented on #225
Same issue here, should have a way to delete the calendar to clean things up again if user wants it.

[2020-06-03 23:27] nickrandolph commented on #234
@jayeshpansheriya are you using the same account on all three platforms (ie ios, android and web)?
If you create the event on ios (via the plugin), does the url show up on web and/or android?
If you create the event on android (via the plugin), does the url show up on web and/or ios?

[2020-06-05 05:18] jayeshpansheriya commented on #234
@nickrandolph    yes i have used same account for all,
yes if i created event via plugin in android or ios device  all detail shows but meeting url is not show in google calendar website, i have shared screenshot above.

[2020-06-05 12:29] mmc16 commented on #218
pre-production reported the same issue
![Screenshot_2020-06-05-08-01-59-224_com miui bugreport](https://user-images.githubusercontent.com/27312683/83876278-fb8e2900-a70e-11ea-9be3-df896e2c9a38.jpg)

![Screenshot_2020-06-05-08-05-57-939_com android settings](https://user-images.githubusercontent.com/27312683/83876225-e6b19580-a70e-11ea-856b-454afb654db5.jpg)

[2020-06-05 23:08] nickrandolph commented on #234
@jayeshpansheriya is that not just a limitation of the google calendar app? Do you have an example of where a url is shown in the google calendar app?

[2020-06-06 23:07] nickrandolph commented on #226
@tom95 The Result class is designed to provide more context back to the caller. For example, rather than just throwing an exception, it returns false along with error messages. Agreed, this does perhaps add an additional layer of complexity but we wanted to make sure that we didn't expose any exceptions that might tear down the calling app. Happy to reconsider this if you wanted to propose a chang

[2020-06-06 23:07] #226 closed

[2020-06-06 23:09] nickrandolph commented on #233
Thanks @intkhabahmed good point - We'll try to get to this. In meantime, feel free to propose the change via a PR.

[2020-06-06 23:13] nickrandolph commented on #229
@Ananthan1996 Can you provide more information please:
- What device are you running on?
- What calendar account type are you using (Office 365, Gmail, Local device calendar)?
- Are you seeing this issue on iOS too?

[2020-06-06 23:14] nickrandolph commented on #228
@elaishane you should be able to access the default device calendar using this plugin. Can you provide more context:
- What device (android or ios) are you using?
- What calendars do you see when you get the list of calendars?

[2020-06-06 23:16] nickrandolph commented on #227
@ssivagnanam to help diagnose this
- Can you confirm that if you create an event with reminder at XX minutes, it does indeed work?
- If you updated other aspects of the event, do they get updated?

[2020-06-06 23:18] nickrandolph commented on #225
Feel free to contribute a PR to add this. Otherwise it'll get added to the backlog

[2020-06-06 23:21] nickrandolph commented on #221
@KishanBusa8 is this permissions related - are there permissions that need to be added to the manifest file perhaps?

[2020-06-06 23:22] nickrandolph commented on #220
Sounds like a bug with the way that we're setting event start and end dates when it's an all day event. Feel free to open a PR with suggested fix

[2020-06-06 23:25] nickrandolph commented on #218
@taoweiji / @mmc16 do you see this issue if you run the example app that's part of the device calendar source code? If so, would you be able to provide more context on where the error is occurring.

[2020-06-06 23:29] nickrandolph commented on #217
@devs4522 can you suggest the changes to the readme that you'd like to see w.r.t. Proguard settings.
@mmc16 are you seeing this issue in both debug and release?

[2020-06-06 23:32] nickrandolph commented on #216
@eliseyOzerov / @Alimoes / @mmc16 / @petekblaz / @Pranjal2041 can you run the example app (from develop branch) and verify the fix that @Pranjal2041 has made (now merged) fixes this issue

[2020-06-06 23:34] #212 closed

[2020-06-06 23:38] nickrandolph commented on #180
@kinex great suggestion - please feel free to suggest this as a PR. Otherwise we'll add this to the backlog

[2020-06-06 23:40] nickrandolph commented on #202
@andreychernikovich are you still working on this?

[2020-06-06 23:43] nickrandolph commented on #211
@flenair are you trying to access the same calendar in both the sample app and your app? It seems bizarre that you're seeing different results in your app v the sample app.

[2020-06-06 23:45] nickrandolph commented on #186
@eliseyOzerov / @Ananthan1996 are you able to run the sample app in release mode and verify you're able to access the calendars ok?

[2020-06-07 07:17] elaishane commented on #228
Well I the solution

[2020-06-08 03:41] ssivagnanam commented on #227
Hi,
Yes.  All other properties are getting reflected in Device calendar reminder.
Only with the above scenario, my device calendar reminder is not reflecting reminder time properly.

[2020-06-08 07:06] andreychernikovich commented on #202
@nickrandolph yes, today i'm will be fix it

[2020-06-08 12:16] mmc16 commented on #217
I solved this issue following [this](https://github.com/builttoroam/device_calendar/issues/99#issuecomment-612449677) comment.

[2020-06-08 12:44] mmc16 commented on #216
@nickrandolph, I did that and it worked for me

[2020-06-14 22:21] nickrandolph opened #235 "Change Availability from String to Enum"
PR #230 introduces an availability property.

Suggestion is to change the data type from string to an enum with values free, busy, tentative, unavailable (null for any other state).

[2020-06-14 22:26] nickrandolph opened #236 "Improve error handling for async calling on Android"
PR #222 adds support for async event retrieval but doesn't include error handling for async code

Need to improve error handling across async methods

[2020-06-15 02:24] dungtang93 commented on #181
https://github.com/builttoroam/device_calendar/pull/222#issuecomment-643838348

Android only, as I don't have an iOS phone to code & test this out, help wanted

[2020-06-15 07:38] #234 closed

[2020-06-16 11:37] carlosDigio commented on #235
Hi @nickrandolph . We have implemented this issue in PR #238. Can you check it out?

[2020-06-16 12:06] imhafeez commented on #181
`createOrUpdateEvent` is also on main thread. it causes frame skips as well. Please change it to background.

[2020-06-17 14:41] mmc16 commented on #164
I am facing something similar to @kinex 's problem: my app receives a list of events from the server in local time (the same timezone of the device), and it has to save them as allday events.
I know that the start time will be set to 00:00, but because the DateTime is in UTC, the events are shown on the wrong date in the device's calendar.

[2020-06-17 16:32] dungtang93 commented on #181
@imhafeez Why are you experiencing frame skip in `createOrUpdateEvent`? are you creating a lot of events at once?

[2020-06-17 17:15] imhafeez commented on #181
@dungtang93 yes. actually I was syncing all the events from server to my local calendar. any solution for that?

[2020-06-18 05:45] imhafeez opened #241 "PlatformException Events.availability on Android"
When adding events on Android it throws the following error. could anyone please help?

` PlatformException(500, NOT NULL constraint failed: Events.availability (code 1299 SQLITE_CONSTRAINT_NOTNULL), null)`

[2020-06-18 09:40] kinex commented on #164
Issue is probably related to code starting from here https://github.com/builttoroam/device_calendar/blob/develop/android/src/main/kotlin/com/builttoroam/devicecalendar/CalendarDelegate.kt#L424. I don't even understand what is it trying to do but you cannot just reset event time to 00:00 and then set timezone to UTC.

Based on my quick code reviews earlier I can say that this plugin has a lot of ti

[2020-06-18 15:00] blehr opened #242 "iOS daysOfWeek"
On iOS when added the daysOfWeek List to the recurrenceRule, only the first day in the list is added when an event is created.

[2020-06-18 15:42] nickrandolph commented on #242
Can you add this case to the example app and submit as a wip PR so we can diagnose what's going on

[2020-06-18 22:40] nickrandolph commented on #241
@imhafeez which version of the package are you using?

[2020-06-18 22:41] nickrandolph commented on #236
#240 covers this

[2020-06-18 22:41] #236 closed

[2020-06-18 22:41] #235 closed

[2020-06-18 22:47] #242 closed

[2020-06-19 03:28] imhafeez commented on #241
I am using `device_calendar: ^3.1.0`

[2020-06-19 06:54] carlosDigio opened #246 "Remove duplicate line code from event.dart"
Hi @nickrandolph, please can you remove from last code this duplicate line from event.dart model?

https://github.com/builttoroam/device_calendar/blob/fe932a1ce3b36c9d0a2659d2abd65635c26a33fd/lib/src/models/event.dart#L127

The correct line is L91:

https://github.com/builttoroam/device_calendar/blob/fe932a1ce3b36c9d0a2659d2abd65635c26a33fd/lib/src/models/event.dart#L91

Or is it necessary to crea

[2020-06-19 07:17] nickrandolph commented on #246
Argh, must have been a bad rebase. Do you mind raising a quick PR and I'll approve.

[2020-06-19 07:48] carlosDigio commented on #246
Done. https://github.com/builttoroam/device_calendar/pull/247 Thanks!

[2020-06-19 10:56] #246 closed

[2020-06-21 04:33] nickrandolph commented on #241
Can you check which version the .lock file says is being referenced. If still 3.1, can you try the Dev release of 3.2

[2020-06-21 09:00] imhafeez commented on #241
<img width="467" alt="Screenshot 2020-06-21 at 1 59 54 PM" src="https://user-images.githubusercontent.com/21155655/85220737-8a659b80-b3c7-11ea-9280-b3550ccf1020.png">

[2020-06-22 11:48] fardeen9983 opened #248 "SQLiteException on checking if event exists"
## Task
Check if an Event exists by ID

### Code :
[code]
### Exception generated :
[code]

[2020-06-22 12:35] nickrandolph commented on #248
Which version of the plugin is this - please check lock file for actual version.

[2020-06-22 14:20] nickrandolph commented on #248
Also, where did the event id that you're trying to retrieve come from?

[2020-06-22 15:12] fardeen9983 commented on #248
I tried setting the event Id to a previously acquired key from firestore. I wanted to have the resulting event which i was adding to the calendar have this id only so i could fetch it with this reference.

In the end i realised from the result of createOrUpdateEvent contains a unique key the package automatically creates, discarding my own key.

How can I achieve this .i.e, my custom id for event

[2020-06-22 15:17] fardeen9983 commented on #248
Here is the code i use to save the event
[code]
As you can see I passing the model id for event Id. I want this to be the resulting event id as well

[2020-06-22 15:50] nickrandolph commented on #248
I think you have to use the url property

[2020-06-24 06:06] jayeshpansheriya opened #249 "PlatformException(500, Attendees cannot be changed., null)"
in android simulator app is working fine,
but when i test it in ios simulator without attendees is working fine but when i add  attendees it showen exception,

[599] Device calendar plugin ran into an issue. Platform specific exception [500], with message :Attendees cannot be changed., has been thrown.

[2020-06-25 16:13] Plateria opened #250 "Change Android Integration on pub.dev"
I had the issue, that when i built a release version of my app containing the device_calendar plugin, the retrieve_calendars() function didn't work at all. After finding the solution to my problem [#99 ](https://github.com/builttoroam/device_calendar/issues/99#issuecomment-612449677) i suggest that you should add the following to [pub.dev/device_calendar#android-integration](https://pub.dev/packag

[2020-06-26 06:12] nickrandolph commented on #248
@fardeen9983 are you ok with me closing this issue?

[2020-06-26 06:13] nickrandolph commented on #249
Is this with an event that was created through the plugin?
What account type is it (office365, Gmail etc) and what device type (iOS or Android)?

[2020-06-26 06:14] #248 closed

[2020-06-26 06:17] nickrandolph commented on #250
An you check the readme (https://github.com/builttoroam/device_calendar) and if changes required, please submit a pr. I will check what's being published to pub.dev and update that when I can.

Thanks

[2020-06-28 10:36] Plateria commented on #250
Yea i checked the README. My suggestion is to change:

to:

[2020-06-29 07:34] jayeshpansheriya commented on #249
Is this with an event that was created through the plugin? => yes i have used plugin  device_calendar: ^3.1.0

its iphone inbuild calendar. List of calendar screen i selected Calendar named and i have also checked is not read only

[2020-06-29 13:32] flenair commented on #211
I found the problem, but i can't explain it.
The plugin doesn't work when we have 2 buildTypes in the build.gradle in the project

buildTypes {
        release {
            signingConfig signingConfigs.release
            ...
        }
        /*debug {
            ....
        }*/
    }

[2020-07-02 06:57] jayeshpansheriya commented on #249
i have also try to make demo app from your github example, same issues face in ios device.

[2020-07-08 12:09] jayeshpansheriya commented on #249
i have again try to copy example from [https://github.com/builttoroam/device_calendar/tree/develop/example](https://github.com/builttoroam/device_calendar/tree/develop/example). but face same issues

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-07-08 at 17 31 43](https://user-images.githubusercontent.com/31765271/86916929-f07d4d00-c141-11ea-89c3-98afbca0feff.png)

[599] Device calendar plugi

[2020-08-03 02:56] digarahayu opened #254 "Module 'device_calendar' not found when Release iOS for Distribution"
When i try to distribution my app following step from https://flutter.dev/docs/deployment/ios, i got error Module 'device_calendar' not found on step 'Select Product > Archive to produce a build archive.'
<img width="1209" alt="Screen Shot 2020-08-03 at 09 55 16" src="https://user-images.githubusercontent.com/23516065/89141676-7472fb00-d56f-11ea-9814-e7b727c80934.png">

maybe is there step that i

[2020-08-03 04:29] #254 closed

[2020-08-04 21:56] guilhermeagostinelli opened #255 "Error when retrieving events on iOS"
The following error occurs when calling `retrieveEvents` on iOS:

`[EventKit] Error getting shared calendar invitations for entity types 3 from daemon: Error Domain=EKCADErrorDomain Code=1014 "(null)"`

Here's the relevant code:
[code]

---

[code]

[2020-08-05 07:12] laurisvan commented on #202
Ping @nickrandolph would you be able to check Andrey's MR - it should be rebased now.

[2020-08-05 13:01] guilhermeagostinelli commented on #255
Not sure if it is because of this error, but the plugin is not working properly on release mode (iOS only, android is working fine).

Could it be related to https://github.com/builttoroam/device_calendar/issues/186?

[2020-08-19 20:27] voivoed commented on #220
I don't know if anyone already looked into this, but what I'm seeing is this on Android:

1) I created an all day event that goes from 08/18/20 to 08/19/20 (2 full days) on my calendar;
2) when I retrieve the event, the start date is 08/17/20 20:00:00 and end date is 08/18/20 20:00:00;
3) I see the same thing happening on events from the Holiday calendar, start/end date are short 4 hours, making t

[2020-08-25 15:05] elleryq commented on #225
I find a way to delete local calendar manually.

    Settings > Apps & Notifications > See all Apps > (... menu) Show System
    Navigate to "Calendar Storage", choose Storage & cache, and then Clear storage.
    All calendar events will disappear, sync'd events will repopulate via account sync over the next few minutes.

https://android.stackexchange.com/questions/24789/how-do-i-delete-a-single-c

[2020-08-28 22:38] FCView commented on #220
@voivoed , see my pull request ( #256 ) in the Example app for what is going on. Basically, when we create the event, it needs to be from midnight to midngiht. However, when we retrieve the allDay event, the Calendar Provider returns it adjusted to our local timezone, as you mentioned. So, we need to adjust it back to UTC to get the correct start and end dates.

My problem was that when using this

[2020-08-30 20:58] voivoed commented on #220
@FCView that's what I had to do, I had to convert it back to get the actual dates, then just use the UTC dates as if they were local.

I created the events I needed using the actual device calendar app, my app doesn't create events yet, but may in the future, so hopefully by the time I need it to they'll have merged your PR :-)

[2020-08-30 21:45] FCView commented on #220
I found another issue, though, that I don't think is fixable within the scope of this package. I think this is an issue with either the Android's Calendar Provider, or the way Android handles local Calendars.

When I add an allday event to a Calendar that is not tied to a synced account (I think this is Calendar.accountType == LOCAL, but I am going to look more into it tomorrow), then the allDay e

[2020-09-04 09:28] brunodelsing opened #257 "Plugin not working when the OneSignal Flutter SDK is installed."
I am using this library with the OneSignal Flutter SDK. And i get the following error:

`WARNING: OneSignal has detected that your application delegate implements a deprecated method (application:didReceiveLocalNotification:). Please note that this method has been officially deprecated and the OneSignal SDK will no longer call it. You should use UNUserNotificationCenter instead`

OneSignal has res

[2020-09-04 09:29] thijs-kuipers commented on #257
I am having the same issue

[2020-09-04 11:36] rmtmckenzie opened #258 "Cached results in Request Permission has eventId and calendarId in wrong order for delete/"
https://github.com/builttoroam/device_calendar/blob/b14d1fde51956906ebe9593df4388fc3a1e26907/android/src/main/kotlin/com/builttoroam/devicecalendar/CalendarDelegate.kt#L139

Whereas deleteEvent is declared as:
[code]
Order of eventId and calendarId should be reversed.

[2020-09-07 12:58] zeshanghayoomi commented on #223
are you guys gonna release the fix for this anytime soon ?

[2020-09-09 08:04] technoAri opened #259 "not able to get calendar events in release apk"
It works fine for debug apk and for ios production mode also it's fine. But for Android release apk it's not working. Any idea why?

[2020-09-09 14:23] ShannonHall opened #260 "Error messages not very useful"
Exceptions are intercepted and passed into `Result.errorMessages`. This makes it very hard to get the error and deliver meaningful messages to the user.

Example:
This is the Error message delivered after the user has denied access and we try to modify the calendar -

`[599] Device calendar plugin ran into an issue. Platform specific exception [401], with message :"The user has not allowed this ap

[2020-09-09 20:07] technoAri commented on #99
@britannio android/app/proguard-rules.pro - this would be inside the flutter app's android/app or inside the plugin's?

[2020-09-09 20:13] britannio commented on #99
Inside your Flutter app.

[2020-09-14 05:42] laurisvan commented on #202
@nickrandolph Don't want to be pushing you, but can you give a quick heads-up on your current status - we all are busy from time to time, but would really appreciate feedback on this MR that is very much needed to take your fine library in use. We'd just like to know if the problem is that you're in hurry right now, or it is also ok to say that this MR is not acceptable and we'd need to fork the l

[2020-09-14 09:23] hzmomar33 commented on #259
face the same issue.

[2020-09-17 08:10] hzmomar33 commented on #259
follow this step : https://github.com/builttoroam/device_calendar/issues/99#issuecomment-612449677

[2020-09-19 12:03] javadkt opened #261 "Error: NoSuchMethodError: The getter 'key' was called on null. Receiver: null Tried calling: key"
Getting error in iPhone 11 Pro Max and Nokia  TA-1004 with release build when creating the calendar. I am calling below method to create a calendar but throwing error. But the same App build works in many other android devices and working fine in iPhone 11 Pro Max simulator but not working in iPhone 11 Pro Max physical device.

[code]

Stack trace:
#0 Element.inflateWidget (package:flutter/src/wid

[2020-09-22 02:38] PauloBrazilDHPP commented on #217
i have the same issue and tried all solutions listed here... nothing worked
when compiled directly on device, it works well... when i submmit to play console, when install the beta on any device doesnt work... any other idea?

[2020-10-02 10:19] akbarraihanm opened #262 "Permission force rejected before choos 'Allow' or 'Reject'"
I'm getting mad with this bug. Before I choose the 'Allow' button, the permission's dialog is not shown. Please fix this

[2020-10-05 13:31] mees-brenzie opened #263 "Delete created calendar"
Hi all!

I have a very short question: is it possible to delete any created calendars? I have not found anything in the documentation. I've not even been able to delete the calendars manually. Am I missing something?

Thanks in advance!

[2020-10-06 11:59] ssivagnanam commented on #227
@nickrandolph Any update on this?

[2020-10-08 15:19] mees-brenzie opened #264 "'String' is not a subtype of type 'Availability'"
Hi!
I'm getting a weird, unexpected error.

Once I retrieved a list with events, It crashes on everything I try to do with any item in this list. Not even print the id of the first element. The retrieving of the events causes no issues, printing the length of the list works fine, but everything after that does. It seems that something is going wrong with the decoding of the 'availability' variable

[2020-10-10 01:28] pdtoal commented on #264
I am using a slightly modified version of the example app that comes with the plugin (3.2.0-dev.11640) and i'm getting exactly the same error when I deploy my app in debug mode to my iPhone XR running iOS 14. If I deploy the same app to the same device/OS on the simulator I don't see the problem.

[2020-10-12 02:18] mostal69 opened #265 "Color events"
Hello

I would like to get colorId for each events

Do u know if it would be possible in next releases please ?

Tried to changed events.dart on your lib but no colorId always null even for events with color defined (other than default color)

Regards

[2020-10-13 10:53] RuneAlexanderLarsen opened #266 "Event is missing location parameter"
Is there a reason why the String parameter `location` is excluded from Event in this package?

[2020-10-16 22:52] rgluzman opened #267 "Event creation"
Hello

I can't create events inIOS simulator with different calendars(calendars and events retrieving works), error code
PlatformException(404, The event with the ID  could not be found, null, null)

And it works Android with same code

Something particular in IOS

Regards

[2020-10-22 14:52] codesxt commented on #267
Same error here.

[2020-10-23 15:55] codesxt commented on #267
@rgluzman I found out that my problem was the same mentioned in https://github.com/builttoroam/device_calendar/issues/121. I was manually assigning eventId which seems to be a read-only variable. Without assigning that variable, it saved the event perfectly.

[2020-10-25 21:31] stephensamonte opened #268 "Example app: Setting a recurrence end, then setting the recurrence end to be indefinitely will incorrectly save the event"
When editing or creating a calendar event, if you set recurring to end (specified time or after a number of occurances):

<img width="336" alt="Screen Shot 2020-10-25 at 3 15 20 AM" src="https://user-images.githubusercontent.com/30998408/97101060-69ac9b80-1670-11eb-9e6e-5ff90d4b131e.png">

Save the event by clicking the `checkmark floating action button`.

Open the same event again and set the rec

[2020-10-25 22:10] stephensamonte opened #270 "Example app: when creating a recurring event, the date picker to specify an end date does not display."
Example app: when creating a recurring event, the date picker to specify an end date does not display.

When creating a recurring event selecting to end on a specified day, then selecting the date picker:

<img width="342" alt="Screen Shot 2020-10-25 at 5 46 17 PM" src="https://user-images.githubusercontent.com/30998408/97119979-4cb4ae80-16ea-11eb-9bb7-8760de822057.png">

the follow error occurs a

[2020-10-30 11:01] duzenko opened #271 "Open the device calendar app?"
I have to redirect the user to the calendar after creating the event in my code.
I would like the plugin to be able to open the device calendar app for that.

[2020-11-07 04:52] nitishk72 opened #272 "not working on ios production"
I have a flutter app which uses this plugin everything works fine on the local machine.

- Working fine on Emulator
- Working fine on the Real device when running using XCode.

❌ Issue
- Not working when running using test flight

I don't know if my app is going to be accepted.

[code]

Using Swift for iOS `SWIFT_VERSION = 5.0;`

### Test flight uses production build so probably we can say it will

[2020-11-09 10:00] mees-brenzie commented on #264
@nickrandolph Is there any information on this? This is kind of a big error and prevents us us from using this library all together

[2020-11-18 14:35] cyberpwnn opened #273 "Crashes on android release"
[code]

[2020-11-18 18:44] juampiq6 commented on #273
having the same problem here, hope it gets fixed.
on debug mode its working perfectly

[2020-11-19 19:43] juampiq6 opened #274 "Event start and end datetime, having issues with gmt time zone"
Hi, nice library by the way.
Im having an issue where i specify an exact DateTime for the start and the ending of the event, when i create the event using the "createOrUpdateEvent".
On android, the dates are not transformed (not applied the time zone, -3 in my case).
On iOS, the dates are transformed ( my timezone is applied, so if I specify for example, today at 15:00, the event dates are transfo

[2020-11-19 19:48] juampiq6 commented on #273
This issue was solved  on #99.
RIght here: https://github.com/builttoroam/device_calendar/issues/99#issuecomment-612449677_

[2020-12-03 11:11] matejdro commented on #266
Location is there, it is just missing in constructor. You can manually set it after constructing the event.

[2021-01-06 08:43] jackgitsource commented on #173
It is the same in iOS

[2021-02-07 09:22] XiaoJianXiaoXu opened #277 "Allow auth and app crash."
First, Refuse calendar authorization. Then to request permission, a alert will pop up and select Allow.

In android (vivo), app Crash.
In iOS, **requestPermissions** is false.

[2021-02-23 18:40] nicolashaan opened #279 "Project state?"
Hi @nickrandolph,

What's the status of this project? Is it still maintained? Can I expect new releases with current PRs?

Best regards,
Nicolas

[2021-02-24 11:35] PingAK9 commented on #216
+1, Same

[2021-03-01 05:30] nickrandolph commented on #279
HI @nicolashaan apologies for being absent
I'll endeavour to go through the PRs this week and get a new release out

[2021-03-01 05:30] #279 closed

[2021-03-01 07:17] natheemy commented on #254
Please let me know what are the workaround or changes to fix this issue?

[2021-03-01 07:23] natheemy opened #280 "Module 'device_calendar' not found when Release iOS for Distribution"
When i try to distribution my app following step from https://flutter.dev/docs/deployment/ios, i got error Module 'device_calendar' not found on step 'Select Product > Archive to produce a build archive.
![Screenshot 2021-03-01 at 12 49 38 PM](https://user-images.githubusercontent.com/24647931/109464653-00f58580-7a8d-11eb-8c4e-42c18244d62a.png)

[2021-03-01 08:02] nickrandolph commented on #279
I've merged a couple of PRs and there should be a new pre-release build being built and pushed out. Feel free to give it a test and report back any issues

[2021-03-08 01:07] IntuitiveDeveloper opened #282 "Not seeing outlook calendar, gmail is fine."
I am trying the device calendar on Android AVD. On the VD, I have both gmail and outlook accounts created. The calendar list includes the gmail calendar, but not the outlook. Does anybody know what may be an issue ?

I/flutter ( 8547): Holidays in United States
I/flutter ( 8547): Birthdays
I/flutter ( 8547): vkxxxx@gmail.com

[2021-03-10 09:57] MeherBa commented on #260
How to handle this exception in iOs ?

[2021-03-10 12:12] GoldenSoju opened #283 "Null-Safety Migration"
I haven't found any entry about it yet, so I was wondering if the package will be migrated to null-safety (soon) ?

[2021-03-10 17:52] okarpov opened #284 "Error getting shared calendar invitations for entity types 3 from daemon: Error Domain=EKCADErrorDomain Code=1014 (null)"
Hi,
getting this error on iOS. What may be wrong?

Error getting shared calendar invitations for entity types 3 from daemon: Error Domain=EKCADErrorDomain Code=1014 (null)

 device_calendar: ^3.1.0

[✓] Flutter (Channel stable, 2.0.1, on Mac OS X 10.15.7 19H1009 darwin-x64, locale en-UA)
[✗] Android toolchain - develop for Android devices
    ✗ Unable to locate Android SDK.
      Install Android S

[2021-03-11 14:45] okarpov commented on #284
finally, its just an iformational error and it is still working well

[2021-03-11 14:45] #284 closed

[2021-03-13 20:11] saschaernst commented on #280
That solved it for me:
https://github.com/flutter/flutter/issues/43986#issuecomment-612615174

[2021-03-16 17:50] tovidd commented on #263
i faced same issue, but i see it possible on example project

[2021-03-16 17:59] tovidd commented on #263
You are able to delete calendar using prerelease version (https://pub.dev/packages/device_calendar/versions/3.2.0-dev.12672)
currently available version (device_calendar: ^3.2.0-dev.12672)

[2021-03-22 08:18] Sri-Madhan opened #285 "MissingPluginException(No implementation found for method hasPermissions on channel plugins.builttoroam.com/device_calendar)"
i need to retrieve Calendars events in my app

the below function i have used :

_retrieveCalendars()async{

    try {
      var permissionsGranted = await _deviceCalendarPlugin.hasPermissions();
      if (permissionsGranted.isSuccess && !permissionsGranted.data) {
        permissionsGranted = await _deviceCalendarPlugin.requestPermissions();
        if (!permissionsGranted.isSuccess || !permissio

[2021-03-23 07:34] hyouuu commented on #164
@kinex have you restarted your project and if so, did you find a better calendar plugin? This repo seems to have stopped progressing

[2021-03-23 09:27] kinex commented on #164
@hyouuu I will continue my calendar project later, few other apps in queue.... I have not searched other calendar plugins yet.

[2021-03-23 11:35] andzejsw commented on #283
I have created pull request implementing null safety logic: https://github.com/builttoroam/device_calendar/pull/286
Hope soon it will be implemented and if needed, improved.

[2021-03-23 14:58] thomassth commented on #283
On my I did the same thing
#287

Can we combine our work in some way

[2021-03-24 01:57] nickrandolph commented on #164
Hi all,

Apologies for this repo being dormant for so long - the last year has had other priorities as you can only imagine I guess.
Pre-covid I did start a branch that reworks the timezone support. I will see whether I can get to it in the coming weeks.
Thanks for the nudge and sorry again for the delay in fixing these issues

[2021-03-24 06:22] hyouuu commented on #164
@nickrandolph thank you very much for providing this package and helping improve it!! Timezone & all day events are annoying problems that's hard to get right - thanks for putting effort in it. I might be able to help after a couple of weeks - let me know if you find some part of the problem worth separating. Looking forward to the improvements :D

[2021-03-24 07:11] kinex commented on #164
I want to fix one of my earlier comment above regarding `DateTime.fromMillisecondsSinceEpoch`. I think the method documentation is slightly confusing. So the parameter `microsecondsSinceEpoch` is always "utc microseconds". The other parameter `isUtc` only determines if the created `DateTime` instance is in local or UTC time zone. The created `DateTime` represents the exactly same date/time no matt

[2021-03-24 14:04] maerlynflagg commented on #217
yeah same. Windows Android Emulator, all fine. debugging on real device fine. but a release build in Play Store is not working, cause missing or invalid calendar id.

[2021-03-31 08:39] 2math commented on #229
Hi, first than you for this great plugin!

I face the same issue in debug mode.
Testing on Pixel 3a XL, haven't tested yet on iOS.
I'm using Google Calendar, I think there is some delay from Google calendar too, but when I add event it appears in a minute.
Deleting an event goes without error, when I query for this event or in this period the event is not returned, but when I open Google calendar

[2021-04-08 10:08] ChanakyaHirpara opened #289 "How can i add event with every year repetation?"
I m using following recurring rule to set an event that should repeat every year.

RecurrenceRule ruleFrom(DateTime eventStartDate) {
    return RecurrenceRule(RecurrenceFrequency.Yearly, monthOfYear: getMonth(eventStartDate), dayOfMonth: eventStartDate.day);

MonthOfYear getMonth(DateTime eventStartDate) {
    int month = eventStartDate.month;
    if (month == DateTime.january) {
      return Mon

[2021-04-08 13:59] RahemanAli321 commented on #289
do you have any community for open source contribution?

[2021-04-08 15:18] ChanakyaHirpara commented on #289
No.

On Thu, 8 Apr 2021 at 7:29 PM, RahemanAli321 ***@***.***>
wrote:

--
Regards,
Chanakya

[2021-04-08 21:53] TinchoOlivari commented on #105
This worked for me: https://github.com/builttoroam/device_calendar/issues/210#issuecomment-606325699

[2021-04-11 09:24] Tobi696 opened #290 "Build Fails: AAPT: error: attribute android:foregroundServiceType not found"
My build fails with the error message below.
Flutter version: stable 2.0.4
Package version: 3.1.0

[code]

[2021-04-13 08:13] albatrosify opened #291 "Missing Calendar Events when inserting many Elements"
When inserting many Elements from an Array into Device_Calendar it often happends that some Events are not beeing shown in the Calendar.
Every Event shows a success response, with unique id. But when I open my GMAIL Calendar it often has many missing entires.

This only happens when inserting more than 20-30 elements at once.
Any idea on how to fix this?

 `devCalendar.createOrUpdateEvent(element)

[2021-04-14 05:31] michaelchiowong commented on #223
hi, guys, any updates for this issue?

[2021-04-14 06:49] ChanakyaHirpara opened #292 "Not able to update calendar event from calendar app after saving event using this lib"
java.util.concurrent.ExecutionException: java.lang.IllegalArgumentException: Cannot have both DTEND and DURATION in an event

[2021-04-15 12:09] diogosequeira94 commented on #266
Can you consider adding it to the constructor as well as the other properties mentioned in the To/FromJson methods? Thanks

[2021-04-16 05:41] ChanakyaHirpara commented on #292
Fixed

[2021-04-16 05:41] #292 closed

[2021-04-16 05:42] ChanakyaHirpara commented on #289
fixed

[2021-04-16 05:42] #289 closed

[2021-04-18 09:23] GoldenSoju commented on #283
i haven't seen any activity from the package owner(s) for a while now...can we assume this package was abandoned?

[2021-04-19 12:23] sageata commented on #291
Are you using ```await```?

If you are not, try using await.

Don't use it in a ```forEach``` loop because it does not wait for async stuff.

Instead use this:

[code]

[2021-04-19 12:58] albatrosify commented on #291
Thanks for your comment.
That is exactly what I am doing. And if I am logging each return value they don't show any errors and have a unique event id.

I don't see anything wrong.
I even created a delay inbetween calls to speed down the process.
This didn't help either.

[2021-04-19 16:26] sageata commented on #291
@albatrosify

To be honest I witnessed this as well sometimes, however, I don't think you are doing anything wrong or there is anything wrong with the package.

It maybe some iOS or Android limitation and despite not showing any error, the events don't get added

Recently I managed to add about 300~400 events without an issue, but with a different package.

[https://pub.dev/packages/manage_calenda

[2021-04-20 07:01] maerlynflagg opened #293 "Difference end date between iOS and Android (allday event)"
hello!

current Version:

`device_calendar: ^3.1.0`

if i entering a all day event, for example 2021-04-21 on iOS and Android calendar (CEST time zone), there is a different result retrieving the events.

**iOS (this is correctly)**

start: 2021-04-21 00:00
end: 2021-04-21 23:59

it is one allday event.

**Android**

start: 2021-04-20 02:00
end: 2021-04-**21** 02:00

looks like 2 all day event.

s

[2021-04-20 08:12] andzejsw commented on #283
I think that it is safe to say that. Some very needed PR aren't touched for quite some time.

[2021-04-20 08:45] albatrosify commented on #291
I have tried your package and for the moment it seems to NOT have this bug.
All elements are correctly inserted.

I feel like this package here, is much more developed, but with this bug it is very unusable for me :(
I also have not enough experience to natively check where the error could come from.

[2021-04-20 08:58] tovidd commented on #272
I faced platformException issue, i don't know how fix, this only happen on ios. Sometimes there is no error, but more often this error occurs:
flutter: PlatformException(401, The user has not allowed this application to modify their calendar(s), null, null)
flutter: PlatformException(500, Local calendar was not found., null, null)

dependencies: device_calendar: ^3.2.0-dev.12672

[2021-04-20 09:30] sageata commented on #291
It works, but you have to be careful when using it.

Check this [https://github.com/lakshmanaprabhu/manage_calendar_events/issues/7#issue-860409475]()

For example the all day events are not handled properly, also errors are not handles correctly either.

I did file a bug but it seems that the owner is not active.

[2021-04-20 14:09] thomassth commented on #283
I don't mind splitting and republish the package to pub.dev, at least it's more convenient.
But I don't have much experience in coding, I can take pull requests but probably can't contribute much.

[2021-04-20 14:15] nickrandolph commented on #283
Hey all, again apologies, I've had other work commitments. If you guys are interested I can add you as maintainers as happy to take contributors.

[2021-04-21 07:10] onlycyndi commented on #277
I had a problem when I refuse calendar authorization like you, and it crashed many times when I restart the app. I try to reset it
 in the Simulator -> Device -> Erase All Content and Setting , and rebuild the iOS file . it doesn't work until I add the permission below.  - -#
<key>NSCalendarsUsageDescription</key>
<string>INSERT_REASON_HERE</string>

[2021-04-21 07:39] andzejsw commented on #283
In my opinnion @thomassth  PR now is better than mine.  But yeah, i would be happy to be a maintainer, if you need any help. Probably @thomassth has no problem with that too.

[2021-04-21 08:24] nickrandolph commented on #283
@thomassth and @andzejsw I've sent you invites to the Other team at Built to Roam. Let me know if you have any issues accepting the invites

[2021-04-22 07:11] andzejsw commented on #283
Hi. I don't see any invite.

[2021-04-22 08:02] nickrandolph commented on #283
Do you have a different email account associated with your github account?

[2021-04-22 08:23] thomassth commented on #283
I got the invite when I visit [https://github.com/builttoroam](https://github.com/builttoroam)

[2021-04-23 07:13] andzejsw commented on #283
Merged PR https://github.com/builttoroam/device_calendar/pull/287 into develop branch.

[2021-04-23 07:13] #283 closed

[2021-04-23 07:17] andzejsw commented on #273
Proguard related issue. Readme improved here: https://github.com/builttoroam/device_calendar/pull/287/commits/43868ab89630db7e4640f61067d0bf8dba18f786

[2021-04-23 07:17] #273 closed

[2021-04-23 07:20] andzejsw commented on #272
Plugin works for me on test flight app. Does plugin work for you now and issue can be closed?

[2021-04-23 08:23] andzejsw commented on #268
I am not able to replicate this issue following these steps. Could it be, that this issue is fixed!? Can you take a look and check if issue still remains?

[2021-04-23 08:34] andzejsw commented on #280
@natheemy did @saschaernst  comment fixed your issue?

[2021-04-23 10:24] dmitry-kotorov opened #294 "Null safety"
Pls migrate to null safety

[2021-04-23 10:24] dmitry-kotorov opened #295 "data_connection_checker"
Pls migrate to null safety

[2021-04-23 10:24] #295 closed

[2021-04-23 10:24] dmitry-kotorov commented on #295
by mistake

[2021-04-23 11:08] andzejsw commented on #294
PR https://github.com/builttoroam/device_calendar/pull/287 already merged in development branch. We re currently working on some other bugfixes before releasing new plugin release, but you can safely use plugin development branch in your project. For pub.dev release you need a bit wait.
I will close this issue, cause issue related logic is already implemented.

[2021-04-23 11:08] #294 closed

[2021-04-24 18:33] stephensamonte commented on #268
@andzejsw This is still an issue in the https://github.com/builttoroam/device_calendar develop branch. I updated the original issue comment to include clicking save as a step.

[2021-04-26 15:37] #263 closed

[2021-04-26 15:38] #259 closed

[2021-04-26 15:39] #250 closed

[2021-04-26 15:40] #225 closed

[2021-04-26 15:44] thomassth commented on #217
@PauloBrazilDHPP and @maerlynflagg , can you confirm that you added the appropriate proguard settings?
[https://github.com/builttoroam/device_calendar#proguard--r8-exceptions](https://github.com/builttoroam/device_calendar#proguard--r8-exceptions)

[2021-04-26 22:08] Edirisinghe commented on #293
I have the same issue

[2021-04-26 23:56] nickrandolph commented on #293
@andzejsw can we check to see whether this has been fixed with the updated implementation for timezones? I think it might have been because it was one of the issues I was aware of when I was making those changes.

[2021-04-27 03:02] andzejsw commented on #293
@nickrandolph Currently it looks like that Android part works now  on latest PR. Today i will take a look on iOS and hopefully we will be able to merge PR at least in dev branch.

[2021-04-27 03:18] andzejsw commented on #229
So delete function now works for you correctly? Can you confirm?

[2021-04-27 04:15] andzejsw commented on #290
Please take a look on latest dev version and see if issue is fixed for you.

[2021-04-27 04:43] andzejsw commented on #271
When creating event, you can listen if it is added. In the example app is following code:
[code]
Fast search for me lead to this stackoverflow post: https://stackoverflow.com/questions/54971724/we-need-to-launch-mobile-devices-calendar-from-flutter-app-icon-ontap
Top answer suggest, that you can open native device calendar on phone like this: **_"If you have url_launcher integrated then calshow://

[2021-04-27 06:11] maerlynflagg commented on #217
yes i can confirm, that is fixed, after i made a proguard on 25 Mar.

this helped me:

[code]

[2021-04-27 06:35] #217 closed

[2021-04-27 06:44] andzejsw commented on #285
Does this issue appear with latest dev version? And on which device?

[2021-04-27 06:47] andzejsw commented on #282
Have you tried to sync Outlook calendar with Android calendar on device?

[2021-04-27 06:50] 2math commented on #229
Confirm

[2021-04-27 07:17] #228 closed

[2021-04-27 07:18] #229 closed

[2021-04-27 07:21] andzejsw commented on #221
Is this still an issue!?

[2021-04-27 07:27] andzejsw commented on #170
Does error still exists on latest dev?

[2021-04-27 08:07] andzejsw commented on #277
Does this error still exists on latest dev? Did @onlycyndi answer helped?

[2021-04-27 08:14] andzejsw commented on #265
In example app there is no colors for events. Only for calendars. Did you wanted to get calendar color?

[2021-04-27 08:27] andzejsw commented on #260
You can use `errorCode` from ResultError class to display specific error messages for specific error code.

[2021-04-27 09:29] #271 closed

[2021-04-27 09:39] thomassth commented on #265
You mean setting / getting each event color independent of the calendar color?

Not sure if it's implemented, but jic this is the related Android API for reference

[https://developers.google.com/calendar/v3/reference/colors](https://developers.google.com/calendar/v3/reference/colors)

[2021-04-27 10:24] andzejsw commented on #241
@imhafeez does this error exist on latest dev?

[2021-04-27 15:17] duzenko commented on #271
Sorry, I disagree
If I wanted to write native code, I would not have bothered with Flutter at all

[2021-04-27 15:29] andzejsw commented on #271
@duzenko In my explanation how to do that there is no native code used. Only flutter code and integration with flutter package.

[2021-04-28 00:47] nickrandolph commented on #271
@duzenko I agree with @andzejsw this library isn't about launching or interacting with any of the built in experiences (eg device calendar app). There are, or should be, alternative packages for that.
This package is solely focused on interacting with the calendar APIs exposed by the individual platforms.

[2021-05-05 05:21] GoldenSoju opened #298 "Change of actual RecurrenceRule Class"
First of all thanks to everyone for your efforts in 'reviving' the package and the official null-safety version.

I was wondering if someone else would see a benefit in changing the actual RecurrenceRule class to the one from [RRule package (Link)](https://pub.dev/packages/rrule) . The benefit I see, is a better compatibility with external data as the Recurrence Rule can easily converted to an iCa

[2021-05-05 11:24] andzejsw commented on #298
In my opinion this is great idea. I also see that @thomassth agrees. Would like to see what @nickrandolph thinks.
I just think that these changes should be made after PR https://github.com/builttoroam/device_calendar/pull/297 is merged.

[2021-05-07 00:02] nickrandolph commented on #298
Yeh I don't see any issues with adopting that package.

[2021-05-07 08:01] imhafeez commented on #241
@andzejsw Yes its still accurring. On updating event.

`Exception has occurred.
PlatformException (PlatformException(500, NOT NULL constraint failed: Events.availability (code 1299)
#################################################################
Error Code : 1299 (SQLITE_CONSTRAINT_NOTNULL)
Caused By : Abort due to constraint violation.
	(NOT NULL constraint failed: Events.availability (code 129

[2021-05-07 08:35] andzejsw commented on #241
@imhafeez Is this happening on example app?

[2021-05-07 08:51] andzejsw commented on #241
Events also have availability arg. Are you sure that when you crate it, it isn't null?

[2021-05-07 09:25] imhafeez commented on #241
@andzejsw Let me check that.

[2021-05-07 09:31] imhafeez commented on #241
Thanks @andzejsw. It was availability arg. I was not setting that. It solved.

Also on the device it throws exception on creating calendar. The issue is with calendar colour. I have changed it. and will send you pull request. Please merge it with master branch.

[2021-05-07 09:40] andzejsw commented on #241
@imhafeez I will add changes, that availability should be required.

[2021-05-07 12:46] geokos009 opened #301 "device_calendar.dart error"
Hi,

I was checking the example flutter app and this is the error (pasted below) that cropped up after I did a flutter upgrade to 2.12.3. I did a flutter downgrade and this error continues. Could you help with this?

Thanks.

George.

Launching lib/main.dart on CPH1819 in debug mode...
Running Gradle task 'assembleDebug'...
../../Developer/flutter/.pub-cache/hosted/pub.dartlang.org/device_calendar

[2021-05-07 13:30] thomassth commented on #301
Please consider using v4 in prerelease, which supports null safety (especially in flutter releases 2.12 or above).

[2021-05-07 14:12] geokos009 commented on #301
Thank you so much for the prompt response.

It works with the pre-release V4.

[2021-05-07 14:12] #301 closed

[2021-05-10 10:11] #280 closed

[2021-05-10 10:12] #277 closed

[2021-05-10 10:20] andzejsw commented on #264
@mees-brenzie is this issue still for you with latest dev version?

[2021-05-10 10:22] andzejsw commented on #261
Is this issue still a problem with latest dev?

[2021-05-10 10:24] #272 closed

[2021-05-10 10:25] #221 closed

[2021-05-10 10:32] #290 closed

[2021-05-10 10:41] andzejsw commented on #267
@rgluzman did @codesxt answer helped you?

[2021-05-10 14:25] javadkt commented on #261
not checked with the latest one

[2021-05-11 02:44] loicgeek opened #303 "[App in Background] MissingPluginException(No implementation found for method hasPermissions on channel plugins.builttoroam.com/device_calendar)"
I have to  add events to calendar when the app is in background. When I tried, I got this error? please how to register this plugin to work in background ?
I have seen something similar here: https://pub.dev/packages/flutter_downloader

[2021-05-11 07:36] #260 closed

[2021-05-11 07:40] andzejsw commented on #274
Should close this after PR https://github.com/builttoroam/device_calendar/pull/297 is published.

[2021-05-11 07:44] andzejsw commented on #218
Closing, since there is no news about this issue for more than one year.

[2021-05-11 07:44] #218 closed

[2021-05-11 07:46] andzejsw commented on #216
Please everyone, who have experienced this issue take a look un latest 4.x development version and see if issue is fixed

[2021-05-11 07:53] andzejsw commented on #190
Can be closed after https://github.com/builttoroam/device_calendar/pull/297 is published.

[2021-05-11 07:58] #170 closed

[2021-05-11 07:59] andzejsw commented on #164
Can be closed after https://github.com/builttoroam/device_calendar/pull/297 publishing.

[2021-05-11 13:30] andzejsw commented on #303
Are you using 3.1 version or 4.x Prerelease?
And how are you running this specific method for event inserting!? Do you have some foreground service or are you using some push service for event inserting?
Flutter for running code on background uses isolates. Take a look here: https://medium.com/flutter/executing-dart-in-the-background-with-flutter-plugins-and-geofencing-2b3e40a1a124
As far as I kno

[2021-05-11 13:37] loicgeek commented on #303
@andzejsw  others plugins are working like https://pub.dev/packages/flutter_secure_storage and firebase plugins.Normally I just have to manually register the plugin, but it seems like the implementation of the plugin doesnt allow it.

[2021-05-11 13:39] loicgeek commented on #303
I am using the version 3.2.0 in develop-branch

[2021-05-13 05:33] #270 closed

[2021-05-13 05:33] #268 closed

[2021-05-13 05:34] #258 closed

[2021-05-13 05:35] #241 closed

[2021-05-13 05:35] #274 closed

[2021-05-13 05:35] #190 closed

[2021-05-13 05:35] #164 closed

[2021-05-13 05:36] #293 closed

[2021-05-13 05:39] #264 closed

[2021-05-13 05:44] andzejsw commented on #261
Error message doesn't help at all. It shows only widget drawing tree error, but nothin related to plugin. Van it be, that calendars are read correctly, but just there is issue in your app just with calendars visual representation!?

[2021-05-13 05:52] andzejsw commented on #291
Everyone please try this with 4.x prerelease version.

[2021-05-13 08:36] albatrosify commented on #291
Thanks for the Update.
I am getting type `'_CastError' is not a subtype of type 'Exception?'` in type cast on events where allDay is true.

[2021-05-13 08:42] andzejsw commented on #291
@albatrosify have you migrated your project to nullsafety? Code editor should show you where are used unnecessary casts and where should be code null safety changes. If after that issue still remains, please take a look on example app and check if same error appears there.

[2021-05-13 08:44] #265 closed

[2021-05-13 08:55] #282 closed

[2021-05-13 10:21] thomassth commented on #265
I think this is a function not yet implemented.

But as of now there isn't much demand, and I can't seem to find corresponding API in iOS. You're welcome to contribute though.

[2021-05-13 13:02] henry2man commented on #293
Just in case anyone (like me) needs to patch this using older versions, here it is a sample code that fixes event dates on Android.

[code]

PS: @maerlynflagg Is this similar to your approach?

[2021-05-14 14:32] Edirisinghe commented on #293
As a workaround, I did the same thing as this.

[2021-05-14 18:46] MooNag commented on #233
This is an issue for me as well. I can use only read permissions on debug mode but I cannot only use read permission on release mode.

[2021-05-15 07:43] thomassth opened #308 "TZDateTime migration guide"
When migrating to latest dev release, `Event` classes now requires `TZDateTime` instead of `DateTime`.

`TZDateTime` seems to come from the [Timezone](https://pub.dev/packages/timezone) package.

Should the docs be updated to include this, or can the `TZDateTime` class be exposed from within the package?

[2021-05-15 07:58] andzejsw commented on #308
I think, that we should update docs for those, who use Event classes. Exposing  `TZDateTime` class in my opinion would be wrong, cause it comes from different package.

[2021-05-17 15:27] albatrosify commented on #291
I have found the problem with allDay Elements. It happend on calling .toUTC() on TZDateTime Vars.
Bug still persists, that random elements are missing in calendar. :(

[2021-05-17 15:34] albatrosify commented on #291
Additional Info: This seems to affect only Google Calendars. I tried iCloud Calendar as Alternative and it works fine.
However with the other package mentioned here, I did not find any missing elements. Around 20-25 elements are correctly being inserted, and the rest does not show up.
Could you try on your end to remove like 30-40 Events, distributed over the timeframe of a month, and re-inserting

[2021-05-17 15:39] andzejsw commented on #291
In example app and package lib there is no " .toUTC()" method called. Can you specify!?
And of course you can submit your PR with fix, if you have any.

[2021-05-17 15:43] albatrosify commented on #291
.toUTC() is part of timezone package / lib/src/date_time.dart Line 247.
Return this DateTime value in the UTC time zone.

Unfortunately I have almost 0 knowledge in native iOS coding.
I doubt that I could find the error.

[2021-05-20 13:46] loicgeek commented on #303
@andzejsw  ```
  D/Ringtone(17876): Successfully created local player
I/flutter (17876): Got an appointment
I/flutter (17876): 60a6625b63ccbb493bac6a70
I/flutter (17876): MissingPluginException(No implementation found for method retrieveCalendars on channel plugins.builttoroam.com/device_calendar)
I/flutter (17876): NoSuchMethodError: The method 'firstWhere' was called on null.
I/flutter (17876):

[2021-05-21 08:47] loicgeek commented on #303
@andzejsw  hello, I just want you to know that I end up updating flutter to 2.2 , without migrating my project to null safety, and it is working fine, thank you for the support.

[2021-05-21 08:47] #303 closed

[2021-05-21 09:20] andzejsw commented on #285
Possible duplicate of https://github.com/builttoroam/device_calendar/issues/303. Closing since issue 303 is resolved.

[2021-05-21 09:20] #285 closed

[2021-05-21 09:26] andzejsw commented on #249
@jayeshpansheriya Does everything work fine with 4.x version!?

[2021-05-22 20:36] zakton5 commented on #308
What if we don't know or care about the time and just care about the users local time? I have no need for the timezone package and now I am forced to use it. Is using the timezone dependency absolutely necessary?

[2021-05-25 14:32] tverra commented on #308
I certainly don't need this in my app, since no other widghet that I know of uses TZDateTime. And now I'm here looking for documentation on how to convert my DateTimes into TZDateTimes without messing up the dates.

[2021-06-09 07:11] albatrosify opened #309 "UTC TZDateTime"
How can I create a TZDateTime that is UTC, but compatible with this Plugin?
As soon as I create a TZDateTime that is UTC (Etc/UTC) but not fits the Country/City schema, I get an error, as Etc/UTC is not part of the location list of this plugin

TZDateTime is created like this:
`TZDateTime start = TZDateTime.utc(_start.year, _start.month, _start.day, _start.hour, _start.minute);`

Plugin-Code has a

[2021-06-09 16:24] thomassth commented on #309
`TZDateTime` is handled by another package, see [here](https://pub.dev/packages/timezone)

Apparently `etc/UTC` is not in the default database, and you need to choose the full database with `initializeTimeZone('packages/timezone/data/latest_all.tzf')`

[2021-06-11 15:15] amrothemich opened #310 "Slow update of device calendar"
Hi!

I'm finding that the device calendar is really slow to update, even when Google Calendar on the device has received the update. I don't think this is a problem with the device_calendar package per se, but I wonder if you might know a way to trigger a refresh of the device calendar. For example, I created a new Google Calendar and it took 30 minutes before either package (device_calendar or ma

[2021-06-16 05:55] nsendhavdq commented on #309
How we can change DateTime to TZDateTime , because before this update we are taking DateTime as input. Thanks in advance.

[2021-06-17 11:17] maerlynflagg commented on #293
for your information:

i'm not sure, which PR you mean. so if the merge done, so the difference between iOS and Android still exists in

`device_calendar: ^4.0.1-dev.13167`.

iOS is still fine. Android looks the result event like this:

[code]

so currently , i'm still using a workaround for Android.

[2021-06-17 15:49] LanceOwide commented on #309
@nsendhavdq
see : https://pub.dev/packages/timezone

[2021-06-18 16:06] #309 closed

[2021-06-21 09:27] henry8th commented on #308
Also when using await FlutterNativeTimezone.getLocalTimezone() as used in the docs crashes my app, i think due to the dependency version not being the latest (1.5.0) as opposed to (2.0.0)

[2021-06-28 10:16] kightsonsanom opened #312 "Attendance status is always null"
Hello,

This PR (https://github.com/builttoroam/device_calendar/commit/34575c73bd33bdb84878aba3023c5645d3391dbf) changed `attendanceStatus` JSON key on iOS  to `iOSAttendanceStatus` and on Android to `androidAttendanceStatus`. Because of this, the attendance status is always null.

I have created  a PR (https://github.com/builttoroam/device_calendar/pull/313) to correct this.

[2021-07-06 17:24] #267 closed

[2021-07-09 06:46] severin13 opened #315 "Event.fromJson() always returns DateTime.Now() for Event.start."
Dear all,
I am saving an Event as String to a local SQFlite Database using toJson which works fine, the String stored is:

{"calendarId":"15","eventId":"578","eventTitle":"Coop","eventDescription":null,"eventStartDate":1625812200000,"eventStartTimeZone":"UTC","eventEndDate":1625812200000,"eventEndTimeZone":"UTC","eventAllDay":false,"eventLocation":null,"eventURL":null,"availability":"FREE","remind

[2021-07-09 07:00] andzejsw commented on #315
Looks like mistake. Can you make PR with fix?

[2021-07-09 07:13] severin13 commented on #315
That would be my first PR ever ;-) I will give it a shot...

[2021-07-13 12:21] severin13 opened #317 "Suddenly get strange kotlin.KotlinNullPointerException when trying to store an event."
I suddenly receive this error when trying to store events. I verified the calendarId I am using about ten times. I just built the simplest app and retried but do get the same error. Ironically, when I clone de device_calendar repo from here, the app works without any problem, so my local setup with VS Code on Windows does not seem to be the problem. Is there anything I am missing when creating my

[2021-07-13 17:53] thomassth commented on #317
Did you get this error from the version from github-clone? (also, which branch and/or release?) or prerelease from pub.dev?

[2021-07-13 18:02] severin13 commented on #317
Sorry, forgot to mention that, this error occurs with the device_calendar 4.0.1-dev.13167 prerelease from pub.dev.

[2021-07-20 01:44] amrothemich commented on #223
Has anyone come up with a way to handle this?

[2021-07-20 13:24] amrothemich commented on #223
So I have zero experience or understanding of Swift so don't use this without checking it and testing it, but I adapted https://nemecek.be/blog/45/how-to-create-new-calendar-using-eventkit-in-swift to solve this problem and it seems to work for me.

Replace createCalendar() in SwiftDeviceCalendarPlugin.swift with:
[code]

[2021-07-20 16:08] CJohnson19 commented on #315
It seems this bug also happens for end time, title, location, url, etc.

@severin13 are you still planning on making a PR for this? I wouldn't want to step on your toes by submitting one myself.

[2021-07-20 16:56] severin13 commented on #315
@CJohnson19 I already subimtted a PR, but according to your findings, that would only be a partial fix. So sure, feel free to submit an additional PR, you won't step on my toes ;-)

[2021-07-20 22:43] CJohnson19 commented on #315
Sounds good! I can't believe I missed your PR. I think it would be better organizationally for me to start a new issue for the remaining parts since your fix is already there.

[2021-07-20 22:53] CJohnson19 opened #320 "Json methods use different attributes"
The `event` model uses attribute names with a different name in `toJson` and `fromJson`. #316 covers the start and end time fields, but `title`, `description`, `allDay`, and `url` also have this issue.

Example:

[code]

[code]

There is currently a unit test for some of these fields in `Event_Serialises_Correctly`, which fails.

I'd be happy to submit a PR to fix the attribute changes.

I would a

[2021-07-22 07:37] ConanShin commented on #249
nop still an opened issue.
I'm facing same error.

[2021-07-22 07:44] thomassth commented on #320
We really need more work in test and documentation area, so feel free to make a PR.

[2021-07-22 13:59] thomassth commented on #249
I think I saw it too, but since I could add events just fine I didn't think it was important.

Is there any notable problem when handling attendees on iOS? Or is the only issue the warning in console (ie not urgent to fix)?

[2021-07-25 09:26] ashwinthakur opened #322 "please help me"
I  take clone of example try to run the example but got error there some method is not found in the examples
`
Undefined class 'Availability'. Try changing the name to the name of an existing class, or creating a class with the name 'Availability'.dart(undefined_class) enter image description here`

`The method 'updThe method 'updateStartLocation' isn't defined for the type 'Event'. Try correcting

[2021-07-27 18:30] albatrosify opened #323 "Samsung Devices move AllDay Events around"
I have gotten a few bug reports, that allDay Events are starting to appear on wrong days (often 1 day earlier than correct).
I did not change anything on my code, neither did this plugin change.
It looks like my app / the plugin is inserting the events correctly, as for 10 second around the elements appear correctly for example in google calendar. After this 10seconds they start to move a day earl

[2021-07-28 15:23] thomassth commented on #323
Can you provide more details? Eg.
- what version are you using? Is it still affecting the latest prerelease?
- is it affecting local or synced calendars?
- Since it might be a vendor-specific problem, is there any difference if you view it afterwards via Samsung calendar or Google calendar?

[2021-07-28 15:25] thomassth commented on #322
Is it a problem on the prerelease? It might need some more updating since many components changed in the past few commits.

[2021-07-28 21:07] #169 closed

[2021-07-29 07:07] albatrosify commented on #323
I have to correct myself. It is no longer only Samsung Devices. The bug exists across devices.
I am using the latest null-safety dev release "^4.0.1-dev.13167"
So far I only know that this issue exists on synced calendars (namely Google Calendar)

I use an iPhone and do not have any problems with sync issues. Most of my users neither have problems even on android devices.
I tried to reproduce the

[2021-07-29 10:17] thomassth commented on #323
Sounds like the problem is about retrieval of events from calendar.

Though I wonder if this is caused by some strange approach handled by Google or bug from the package itself.

We may need to write around the bug if it's the former.

[2021-07-30 07:01] albatrosify commented on #323
Is anybody able to reproduce the problem?

[2021-07-31 20:25] FCView commented on #323
Your issue may be related to the way allDay events are stored. They should be stored from midnight on the first day to midnight on the day following the last day.  For example, a 2-day allDay event on Jan 1-2 should be stored from Jan 1 00:00:00 to Jan 2 00:00:00. The are currently being stored as Jan 1 00:00:00 to Jan 1 00:00:00, and I believe they are using the local timezone, not UTC. See [this

[2021-08-02 21:09] #266 closed

[2021-08-02 21:10] #315 closed

[2021-08-02 21:15] thomassth commented on #310
maybe the question is related to how the phone OS handles syncing of calendars?
device calendar only reads what the system provides.
Is there a way for us to force request a sync?

[2021-08-03 12:24] amrothemich commented on #310
I _think_ this code refreshes the device calendars. note that the Android one _schedules_ a recurring refresh every minute (which I think is the minimum), while the iOS function is a one time run.

iOS (swift):
[code]

Android (kotlin):
[code]

[2021-08-11 02:40] mzl1988 commented on #274
device_calendar: ^4.0.1-dev.13167
The same problem still occurs after the time zone has been set
[code]

[2021-08-12 08:43] EinatK opened #325 "createOrUpdateEvent add multiple instances of the same event"
If eventId is a readonly property and i can't set it, how can i only add one instance of the same event ?
I would expect if the name, start time and end time are identical not to add

[2021-08-12 13:43] thomassth commented on #325
Im not quite sure what you mean.

Do you want do make identical events? Or is this a bug report about multiple identical events being created?

[2021-08-13 12:09] EinatK commented on #325
It's a bug report.
If i can't sent the id, then i can't manage if the event exists or not.
If the user tries to add the event again i would expect it won't add a duplicate event.
The name of the function also indicates it would update the event if it's identical.

With the current implementation, how should i prevent duplicate events ?

[2021-08-17 20:47] albatrosify commented on #323
With your PR I was able to somehow prevent this issue with the following code:
![image](https://user-images.githubusercontent.com/64252708/129798271-faad3c37-75a8-491a-894e-04fc0495a2ed.png)

Still it is really _scary_ to insert allDay Elements into the Calendar.

[2021-08-30 08:07] GoldenSoju commented on #298
Sorry for my late reply, I didn't find earlier time to work on this.

So I tried to implement the RRule package and it worked very well for Android (and Flutter).
(I commited to [my fork](https://github.com/GoldenSoju/device_calendar)).

I wanted to start implementing on iOS today, just to realize that iOS uses the EKRecurrenceRule (EventKit) class and it has no easy way to receive an RFC 5545 Str

[2021-09-04 19:00] miri-red commented on #317
same here - the prerelease from pub.dev, same error. Was there any solution found?

[2021-09-05 07:36] GoldenSoju commented on #298
So I applied the change also to the iOS part. (I commited to [my fork](https://github.com/GoldenSoju/device_calendar)).

For iOS I made use of an exisiting [library](https://github.com/rmaddy/RWMRecurrenceRule). Please note that I am not used to Swift/iOS and didn't manage to import the files correctly. So I copied all relevant code to the top of the `ios/Classes/SwiftDeviceCalendarPlugin.swift` f

[2021-09-09 13:49] mikeryder opened #326 "Flutter build process reports device_calendar uses a deprecated version of the Android embedding"
I upgraded to 4.0.1 of device_calendar (for null-safety).  I was surprised the warning message of deprecated version of the Android embedding still comes up during build.  I am doing something wrong or is this expected behavior?

[2021-09-09 14:34] koenniem commented on #326
I agree. To avoid unexpected runtime failures, or future build failures, this plugin must be upgraded to Android embedding V2. Otherwise, a future release of Flutter will remove these deprecated APIs.

https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration

[2021-09-11 05:22] thomassth commented on #326
Depend on the underlying issue, this can be a simple update to dependencies and not change anything, to waiting for others to update their package / find a new one.

Feel free to try and submit a PR if it works.

[2021-09-14 22:04] acsc001 opened #328 "DaysOftheWeek (BYDAY) is valid with Frequency being DAILY"
For example, this is a valid rule: RRULE:FREQ=DAILY;INTERVAL=30;BYDAY=MO,TU,WE,TH,FR,SA;COUNT=7
It is to create a 7 repeating events that occurs every 30 days but not on Sunday

The document says:
 daysOfWeek ↔ List<DayOfWeek>?
    The days of the week that this event occurs on. Only applicable to recurrence rules with a weekly, monthly or yearly frequency

I believe DAILY is also a valid option.

[2021-09-16 06:14] MariamWahba opened #329 "Error when deleting one instant event"
When I delete an instant event, it gives me a plafrom error with code 599 saying Exception must specify OriginalTimeInstance

[2021-09-17 04:42] ltdangkhoa opened #330 "Android: java.time package not work on SDK < 26"
This plugin use flutter_native_timezone which use java.time package for ZoneId. That will lead to the crash on device with lower api (<26)

[code]

Will there be any solution for this issue or we need to setup the minSdkVersion to 26?

[2021-09-18 09:29] thomassth commented on #330
We probably should upgrade our min SDK.

Is there any specific cases that needs a lower SDK version to run?

[2021-09-18 09:32] thomassth commented on #329
Can you leave more context about this?

Like is it the latest dev or stable?

Also, I'm not familiar with 'instant event'. Do you mean creating then instantly deleting an event, or is it a specific type of events?

[2021-09-18 10:55] #312 closed

[2021-09-22 14:15] hartmannj opened #332 "Android: After permission got rejected "requestPermissions()" does not ask again"
I am not sure if this is intended behaviour but I think for the developer it would be more flexible if requestPermissions() always opens the Android permission dialog even if the user had the permission previously rejected.
Otherwise we have to display a separate dialog explaining the user to go to the Android permission settings and change it there. This would not be a very intuitive user experie

[2021-09-23 07:50] thomassth commented on #332
If you do a "hard reject" you need to go to the app info page to change permissions.

If you choose "allow once" for camera or mic, the pop-up should come up again next time. This is not available for calendars.

We can link to said page but other than that we can't do much. It's a system wide policy.

[2021-09-23 22:15] MariamWahba commented on #329
Hello Thomas,
Actually when I add a reminder and then I click on delete only this
instance.... An exception pops up with code 599 must specify
originalTimeInstance.... It is an error with android platform.... I think
in Calendar.kt .... I have no idea if also ios platform would give the same
result?!

On Sat, Sep 18, 2021, 11:33 AM Thomas ***@***.***> wrote:

[2021-09-26 11:24] MariamWahba commented on #329
???

On Fri, Sep 24, 2021, 12:14 AM Mariam Mariam ***@***.***>
wrote:

[2021-09-30 11:31] maksmaxx opened #333 "How to change an attendance status corr"

[2021-10-04 01:48] mzl1988 opened #334 "this plugin not supports the Android V2 embedding"
[code]

[2021-10-04 07:36] maksmaxx commented on #334
https://github.com/builttoroam/device_calendar/pull/327

[2021-10-04 12:36] maksmaxx commented on #249
I think it's because https://developer.apple.com/documentation/eventkit/ekparticipant: _EventKit cannot add participants to an event nor change participant information. Use the properties in this class to get information about a participant._

[2021-10-04 13:55] maksmaxx commented on #333
OK, for Android I used #276. It works fine. For iOS seems impossible now. Going to create additional func using https://developer.apple.com/documentation/eventkitui/ekeventeditviewcontroller

[2021-10-06 12:40] scorpionate opened #337 "All day events start time may be incorrect (iOS only)"
I noticed  **startTimeZone: ekEvent.timeZone?.identifier**, might be null(nil) for all-day events.
Because of that, in my flutter code after calling _retrieveEvents()_ I received an all-day event object with changed start time property.

Let's say my event is at 06.10.2021 and my timezone is +2.
I got an event object with
- start time at 05.10.2021, 22:00 (timezone difference exactly)
- end time a

[2021-10-08 13:24] thomassth opened #338 "Discussion: state of the plugin"
Currently, all 3 of the maintainers are not very active to this plugin (yes, including me)

We have committed to publish a new version of the plugin, with time zone support, null safety and other fixes in mind, but we have yet to complete this. Documentations, self-tests and other details also needed some work.

Even if I spend more time on this project, a number of functions are still restricted,

[2021-10-08 23:07] #338 closed, assigned to nobody

[2021-10-09 05:23] #326 closed

[2021-10-12 08:30] Zookey opened #340 "On iOS devices and simulators I get Platform Exception 405 saying that calendar is read only"
I request and allow permission for retrieving calendars, but when I try to add events to the calendar, then it fails with thee following exception:

`PlatformException(405, Calendar with ID 9BA5B19E-2422-4DE9-876A-CA7C8BF586BF is read-only, null, null)`

Here is my code so far:

[code]

Why it can not insert events when I allow calendar permission?

It works fine on Android devices, but it fails o

[2021-10-12 10:50] thomassth commented on #340
We definitely need better documentation.

Feel free to help out with your experiences. Every little helps.

[2021-10-13 11:43] thomassth commented on #334
#327 had been merged. If there's more files to fix, we'll reopen this.

[2021-10-13 14:52] Throvn opened #341 "Better visibility of the documentation?"
I would like to checkout this package, but I couldn't find the documentation anywhere.
Would someone be so kind to share the link here?
Maybe even add it to the Readme?

Thanks in advance :)

[2021-10-13 15:14] #341 closed, assigned to nobody

[2021-10-14 19:27] ManishKiranagi opened #342 "Build fails for Flutter v2.5.2 - Android embedding"
I am getting this error when using device_calendar: ^4.0.1-dev.13167
The plugin `device_calendar` use a deprecated version of the Android embedding. To avoid unexpected runtime failures, or future build failures, try to see if these plugins support the Android V2 embedding. If you are plugin author, take a look at the docs for migrating the plugin to the V2 embedding.
Please can you fix this issue

[2021-10-14 20:48] #342 closed, assigned to nobody

[2021-10-14 20:53] thomassth commented on #334
We are recruiting maintainers! You can review and approve other people's PRs, and submit branch merges that push to pub.dev. Apply here #339

In the mean time, you can clone the latest branch and link the files locally. That's how I did it now.

We are 1-2 PRs away from new release, we just need someone to push that button.

[2021-10-25 07:00] chryshel opened #343 "pub get failed"
I cannot run package pub get and when I do its throwing an error as follows,

===============================
Running "flutter pub get" in device_calendar...
Error on line 18, column 3 of pubspec.yaml: A package may not list itself as a dependency.
   ╷
18 │   device_calendar: ^4.0.1-dev.13167
   │   ^^^^^^^^^^^^^^^
   ╵
pub get failed (65;    ╵)
Process finished with exit code 65
================

[2021-10-26 15:14] #343 closed, assigned to nobody

[2021-10-31 04:50] thomassth opened #346 "CI/CD upgrade"
Related to #344

Somehow the latest dependency upgrade is not working here. It seems that the flutter used within the server was and old version.

We may need to upgrade the current azure pipeline, or maybe switch to github action?

[2021-10-31 13:10] sowens-csd commented on #346
Who has access to update the Azure pipeline? Is the pipeline configuration committed with this project? I had a quick look and didn't see it.

[2021-10-31 13:34] sowens-csd commented on #346
I'm just catching up to where you were @thomassth, looks like the Azure pipeline is using Flutter 2.2.1. I'll have another look at the Azure pipeline configuration.

I'd vote for switching to GitHub actions since I'm more familiar with those and I think it would allow all committers better access to the build tooling. I'm assuming that Azure picks up the latest version of the build configuration f

[2021-10-31 13:42] sowens-csd commented on #346
So this issue https://stackoverflow.com/questions/69334583/azure-devops-ci-cd-not-installing-latest-flutter-version suggests that the FlutterInstall task being used is not being maintained anymore. They're suggesting using this one instead https://marketplace.visualstudio.com/items?itemName=hey24sheep.flutter looking for how to do that now.

[2021-10-31 21:58] nickrandolph commented on #346
Hi all, I'll try to take a look at this during the week to get the build up and running agin.

[2021-11-01 10:26] thomassth commented on #346
I've been playing with github actions on my side

It seems easy enough

[2021-11-04 15:31] #308 closed

[2021-11-04 15:33] thomassth opened #348 "TZDateTime migration guide"
To make the upgrade as painless as possible, we should do a migration guide on TZDateTime.

Once that's done I think we are ready to publish v4 as main release.

[2021-11-08 12:22] sowens-csd commented on #346
@thomassth I was going to ask if you'd seen any good news on the Azure build infrastructure but from the look of the commit verification on your recent merge it looks like the answer is no. I was wondering if we should use the work you've put into #347 and close this issue by having commits verified by Actions even if we don't have the full CI/CD stack working yet. Then we could merge #347 and oth

[2021-11-08 12:23] sowens-csd commented on #332
I believe this issue is closed. Please reopen or open a new issue if you still have questions.

[2021-11-08 12:23] #332 closed

[2021-11-08 12:38] thomassth commented on #346
I'm working on making dev release automatic but otherwise things are ready to test

Because of how credentials are made, I think we can only test on prod to see if we can publish the package this way.

[2021-11-08 12:58] sowens-csd commented on #346
Sounds like great progress, let me know if I can do anything to help. I agree that prod is likely the only way to test publishing.

[2021-11-08 14:26] thomassth commented on #346
Ready to test on prod now :)

[2021-11-09 10:43] miguelpruivo opened #350 "The plugin uses a deprecated version of the Android embedding"
To avoid unexpected runtime failures, or future build failures, try to see if this plugin supports the Android V2 embedding. Otherwise, consider removing it since a future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look at the docs for migrating the plugin to the V2 embedding: https://flutter.dev/go/android-plugin-migration.

[2021-11-09 11:04] thomassth commented on #350
Duplicate of #326. Fixed in #327.

Please try to search for issues (both open and closed) before starting your own. I found it just by typing "deprecated".

[2021-11-09 11:04] #350 closed

[2021-11-09 11:05] miguelpruivo commented on #350
Sorry, quick searched but didn't find actually.

[2021-11-09 11:05] thomassth commented on #330
Then it's fixed with #345. Let me know if it isn't.

[2021-11-09 11:05] #330 closed

[2021-11-09 11:15] thomassth commented on #350
The result usually only show open issues by default. You need to consciously choose to see closed ones as well.

We'll probably do a release soon so hopefully there will be no more issues like this :)

[2021-11-11 10:14] thomassth commented on #346
We should keep this open until we have finished the migration.

[2021-11-14 15:50] thomassth commented on #346
I think the keys are currently stored within Azure DevOps' system, not pulled from the build.

Either we
- port the secrets to Github, which only @nickrandolph has access to do
- Update the pipeline

[2021-11-14 16:39] nickrandolph commented on #346
Hey sorry last week has been hectic. I will try to get the Azure build sorted asap.

[2021-11-14 16:53] sowens-csd commented on #346
Thanks @nickrandolph.  If you put the secrets into GitHub then we could switch to Actions and wouldn't have to bother you for any future upgrades / changes.

[2021-11-14 21:24] bardram opened #355 "Could someone release version 4.0.1 to pub dev?"
Thanks for a very useful plugin.

But - it would be useful to have a null-safe version of this plugin on pub.dev.....

Could you publiah it?

[2021-11-15 10:32] thomassth commented on #355
We are in the final stretch of things

Once #346 and #354 are done we should have our release

Meanwhile you can use files in #354 as your plugin

[2021-11-15 10:35] thomassth commented on #346
I also prefer Github Action, I think it's easier to maintain and reliable enough for our use.

Pipeline seems more complex than Action, but we don't actually need all that complexity in our CI/CD.

[2021-11-15 10:39] thomassth commented on #346
Also we can manually trigger a release on the web, in any branches we want, which can be very useful.

[2021-11-17 12:11] Zookey commented on #350
@thomassth Is this released? Is it safe to use this library without this fix in production?

[2021-11-17 14:20] thomassth commented on #350
Our source code is always released ;)

But seriously, we are about to push new releases to pub.dev right after we fix the CI/CD. Meanwhile you can grab the dev branch and sideload it.

[2021-11-17 14:51] Zookey commented on #350
Thanks. Is it possible to publish without CI/CD, since this is breaking changes and device_calendar will not work for the apps in production that are using Flutter 2.5.3.

@thomassth

[2021-11-17 15:32] thomassth commented on #350
Credentials are needed to publish, which I don't.

See #346 for related updates.

For sideloading plugins see [here](https://docs.flutter.dev/development/packages-and-plugins/using-packages#dependencies-on-unpublished-packages)

[2021-11-17 15:41] thomassth commented on #325
There might be people that want to make multiple identical events (for some reason).

As we are making a plugin bridging flutter and device native calendar APIs, our offerings should be as close to native as possible.

Is there some implementations in Android / iOS that helps on this issue?

[2021-11-17 15:45] thomassth commented on #257
Does this problem still exist?

[2021-11-17 16:18] thomassth commented on #346
@nickrandolph if you're busy, you can just dump the whole `CREDENTIAL.JSON` as a secret.

[Our workflow](https://github.com/sakebook/actions-flutter-pub-publisher) supports that too

[2021-11-17 19:27] thomassth opened #356 "Version semantics"
We are a few buttons away from v4, but actually we have 2 to be pushed according to `changelog.md`

We have
A.
 [4.0.0-dev.12864](https://github.com/builttoroam/device_calendar/releases/tag/4.0.0-dev.12864), which is null safe with a few bug fixes
B.
dev branch (not on pre-release) using new TZ blocks, among other internal upgrades

I feel that using TZ is a big change, and should be a more signif

[2021-11-18 00:27] nickrandolph commented on #346
@thomassth the current pipeline supports a staged release process, so I don't seem much reason to move away from it. I get that I've been a bottleneck on this, so would be keen to discuss options for someone to help out when there are pipeline issues - I'd be able to give them access to the azure pipeline.

[2021-11-18 05:46] thomassth commented on #346
If it's possible to share pipeline access then it's an advantage for us, since we can't read or write secrets on github as maintainer.

[2021-11-21 12:53] sowens-csd commented on #356
I'd vote for v4 and v4.1. The null save upgrade to a code base is hard enough, as is testing it. Adding the TZ changes to it will make validating the change harder.

[2021-11-21 12:54] sowens-csd commented on #346
@thomassth did you get pipeline access?

[2021-11-21 13:00] thomassth commented on #356
This is why I have the idea for `3.9`.

If you have `^3.2`, you will be getting `3.9`, with TZ changes. (ie. 4.0.0-12864 = 3.9)

Then, you may opt to upgrade to `^4.0`, with TZ changes etc

[2021-11-21 13:42] sowens-csd commented on #356
Your logic makes sense and I'm happy to go whichever way you prefer.

My thinking, in case it helps, is that the null safety changes are major breaking changes and probably deserving of the 4.x update. I go for more version upgrades rather than less so if the TZ changes are big enough I'd even support 4.x and 5.x, but I know that's not a universal preference.

[2021-11-21 15:35] thomassth commented on #356
That's a valid point.

I'm rather confident that null safety doesn't do harm because it seems quite stable and pain-free to me and others here when migrating. Most issues here are either for new features or already present before null safety.

Let me know if there's some probable issues though, v4 would be more suitable if that's the case.

(v4 and v5 feels kinda too much so I didn't add that in)

[2021-11-22 13:37] sowens-csd commented on #356
As long as there's a version of the plugin that has only the null safety changes then I think it's fine. I'm not so concerned about issues with as I am with having to test both a null safe app migration against a plugin with both null safety changes and other. Both of your proposals pass that test so either is fine.

[2021-11-24 14:27] thomassth opened #362 "Problems with flutter publish"
Part of #346

Appearantly our publish credentials are expired since March. That's why our action stuck in a loop.

Also see
https://github.com/sakebook/actions-flutter-pub-publisher/issues/22

I think @nickrandolph need to get a new one from pub.dev

[2021-11-24 16:01] sowens-csd commented on #362
Thanks @thomassth, I pinged @nickrandolph. He said he'll be online tomorrow morning, hopefully he can resolve then.

[2021-11-24 22:51] sowens-csd commented on #362
so @nickrandolph got some new credentials and I tried a build but it still appeared to hang.

[2021-11-25 08:22] loicgeek opened #363 "Because every version of device_calendar from git depends on timezone ^0.7.0 and flutter_local_notifications >=9.0.0 depends on timezone ^0.8.0, device_calendar from git is incompatible with flutter_local_notifications >=9.0.0"
Please can you update timezone version? thanks

[2021-11-25 12:22] thomassth commented on #363
Fixed in #345.

Please check the dev branch before making new issues, sometimes they are fixed but yet to be pushed to pub.dev

[2021-11-25 12:22] #363 closed

[2021-11-25 12:33] thomassth commented on #362
It seems that Google needs another layer of auth to proceed. I thought credentials would be enough 😒

Someone need to click the generated link to give auth to GHA access to publish. Probably @nickrandolph 's account for pub.dev

[2021-11-25 12:43] sowens-csd commented on #362
Okay, I've pinged Nick.

[2021-11-25 13:02] nickrandolph commented on #362
Hi guys. Where do I find the link I need to click through on?

[2021-11-25 13:06] thomassth commented on #362
https://github.com/builttoroam/device_calendar/runs/4323788024?check_suite_focus=true

Try the link in the logs

[2021-11-25 14:29] thomassth commented on #362
After some more digging apparently we also need to be verified too.

https://github.com/k-paxian/dart-package-publisher/issues/14

(And they've just resolved this less than a month ago. If we did this any sooner we will be totally stuck.)

[2021-11-25 15:10] sowens-csd commented on #362
I think the publisher is verified on pub.dev. That means it should work?

[2021-11-25 23:02] sowens-csd commented on #362
I killed that task you started @thomassth it had been going for hours. Thoughts?

[2021-11-26 03:24] thomassth commented on #362
Forgot to add back the `--force` arg

It asks for confirmation without it.

You can do the edit if you have the time

[2021-11-26 12:48] sowens-csd commented on #362
That looks like success @thomassth! I see the new version on pub.dev.

[2021-11-26 13:03] thomassth commented on #362
Interestingly `d` goes before numbers

But that's another problem so I'm closing this now!

[2021-11-26 13:03] #362 closed

[2021-11-26 13:03] #346 closed

[2021-11-28 05:20] thomassth commented on #181
Seems that we have threading on Android but not on iOS.

Or can someone more proficient with kotlin / swift make a checklist on what's done and not done?

[2021-11-28 05:22] thomassth commented on #255
Is this still happening in v4?

[2021-11-28 05:25] thomassth commented on #202
The PR #213 seems to be removing swift and implement Obj-C.

Can we allow both to co-exist? Otherwise a fork might be necessary.

[2021-11-28 06:05] #211 closed

[2021-11-29 12:30] thomassth opened #371 "Unhook codefactor.io"
It sounded like a good idea, but its advice aren't always correct.

I kept finding "unnecessary null checks" even when they are actually needed.

[2021-12-02 18:30] sowens-csd commented on #356
I think we can close this now? And huge congrats on the release @thomassth, great work!

[2021-12-02 18:37] sowens-csd commented on #371
If it's giving inaccurate feedback it should be unhooked from the review. Bad feedback just slows the process down.

[2021-12-02 19:42] #356 closed

[2021-12-03 07:00] nitinjavakid opened #374 "Retrieving events returns incorrect start and end time"
Json decode code from plugin to dart code is not using the correct keys. This results in incorrect start and end time of events.

[2021-12-03 10:37] thomassth commented on #374
Oh boy

I traced this back to #316. Apparently said dart file changed, but not the corresponding swift and kotlin files.

In any case it seems to only affect retrieval and not saving events. (Otherwise I would found out on my project)

I'll be pushing fixes in the next few hours.

We really need to invest more effort writing tests to prevent these trivial things.

[2021-12-03 14:55] severin13 opened #376 "Deprecated API"
Hi,
Since the latest Flutter update I receive this warning during build with either version 4.00 and 4.0.1-dev.13167. Is there any way to fix this on my side? I tried to dive into native code but unfortunately my Kotlin-knowledge is not sufficient.
Thanks in advance for any help with this!

The plugin `device_calendar` uses a deprecated version of the Android embedding.
To avoid unexpected runtime

[2021-12-03 14:59] severin13 commented on #310
At least on Android (Pixel 4A) and if I create a brand new calendar with DeviceCalendarPlugin.createCalendar(), the events update in real time. As soon as I use another calendar already existing localy I get these lags again.

[2021-12-03 15:18] thomassth commented on #376
I’ve build it a number of times and it should be fixed at v4.

Try removing it in `pubspec`, run `pub get`, then add the package back. It usually flushes all old parts and get you the latest one.

[2021-12-03 18:22] #376 closed

[2021-12-04 07:55] severin13 commented on #376
Thanks very much for the hint. If anyone is facing the same problem, I could finally fix the issue by:
1. Remove device_calendar entry from pubspec.yaml
2. flutter clean
3. flutter pub cache repair (Warning: this might take a while depending on how many packages you are using)
4. add device_calendar 4.0.0 back to pubspec.yaml
5. flutter pub get

[2021-12-04 08:07] thomassth commented on #376
Personally I would skip step 3 because it downloads a whole lot more than you need, and you will do `pub get` anyway. Glad to help though!

[2021-12-04 11:25] severin13 commented on #376
Somehow it did not work for me without step 3, but yes, if it is working without it the better.

[2021-12-04 17:05] nitinjavakid commented on #374
I can confirm that this has been fixed in 4.0.1. Thanks.

[2021-12-04 17:05] #374 closed

[2021-12-18 11:08] ctrysbita opened #383 "Compile error when using flutter 2.9"
The compiler reports an error during `flutter run`
[code]

## Flutter Doctor
[code]

[2021-12-18 15:03] thomassth commented on #383
Try using the latest `4.0.1` and see if there's any problem first.

[2021-12-18 18:37] thomassth commented on #317
Can't reproduce. Closing this for now.

If you encounter this issue again on latest release / dev branch please provide your steps to reproduce.

[2021-12-18 18:37] #317 closed

[2021-12-19 03:59] ctrysbita commented on #383
@thomassth I've tried already. The problem still exist.

Temporary solved by adding this to plugin's build.gradle:
[code]

[2021-12-19 06:39] thomassth commented on #383
I would probably add this into #379

Or you can submit a new PR if you can't wait

[2021-12-19 13:47] thomassth commented on #320
#382 should fix any JSONs created after this PR.

Some kind of convertor may be needed for previously created JSONs.

[2021-12-19 13:47] #320 closed

[2021-12-19 13:47] #383 closed

[2021-12-19 15:16] thomassth opened #384 "Integration tests: parsing events to and from device"
Our current integration test only create then delete one event.

To ensure all fields are parsed correctly, we also need to check against them in the tests.

Refer to current integration tests in `example/integration_test/app_test.dart` for how they are currently written.

You may also look at  `test/device_calendar_test.dart` how they are tested within dart.

To test both all day events, simple e